div.hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    text-align: center;
    height: 0px;
    line-height: 0px;
}

.hr-title {
    background-color: #fff;
}

h4 {
    float: left;
    width: 100%;
}
