@page "{id:guid?}"
@using Constellation.Core.Models.Identifiers
@model Constellation.Presentation.Staff.Areas.Staff.Pages.ShortTerm.Casuals.UpsertModel

@{
    var title = (Model.Id != CasualId.Empty ? "Edit Casual" : "Create Casual");
    var editing = Model.Id != CasualId.Empty;
}

<h2>@title</h2>

<div class="row">
    <a asp-page="/ShortTerm/Casuals/Index" asp-area="Staff" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr />

<form method="post">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <label asp-for="FirstName" class="col-md-2">First Name</label>
            <div class="col-md-3">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="LastName" class="col-md-2">Last Name</label>
            <div class="col-md-3">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="EmailAddress" class="col-md-2">Email Address</label>
            <div class="col-md-3">
                @if (editing)
                {
                    <input asp-for="EmailAddress" class="form-control" readonly="readonly" />
                } 
                else
                {
                    <input asp-for="EmailAddress" class="form-control" />

                }
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="SchoolCode" class="col-md-2">School</label>
            <div class="col-md-3">
                <select asp-for="SchoolCode" asp-items="@(new SelectList(Model.Schools, "Code", "Name", Model.SchoolCode))" class="form-control combo">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="SchoolCode" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                @if (editing)
                {
                    <input asp-page-handler="Update" type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
                }
                else
                {
                    <input asp-page-handler="Create" type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
                }
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}