@page "/SciencePracs/Lessons/{lessonId:guid}/Roll/{rollId:guid}"
@model Constellation.Presentation.Server.Areas.Subject.Pages.SciencePracs.Lessons.RollModel
@{
}

<h2>Roll Details</h2>

<div class="page-menu">

</div>

<hr />