@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Help.AwardsModel
@{
}

<h2>Help documentation - Awards</h2>

<div class="d-flex flex-row mt-3 mb-3">
    <a href="javascript:history.go(-1);" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<h3 class="help-documentation">Module Description</h3>

<p>The Awards module of the Schools Portal allows Partner School staff to view the award tally and most recent awards that have been issued for each shared student.</p>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Awards - Student Selected.png" class="screenshot" />

<p>Aurora College has four major award categories</p>

<ul>
    <li>Astra awards - issued by classroom teachers</li>
    <li>Stellar awards - issued when a student has collected 5 Astra awards</li>
    <li>Galaxy Medal awards - issued when a student has collected 5 Stellar awards</li>
    <li>Universal Achiever awards - issued when a student has collected 5 Galaxy Medal awards</li>
</ul>

<p>The most recent ten awards are listed below the tally. For applicable awards, it is possible to download a PDF version of the certificate by clicking the download button on the right of the award.</p>

<h3 class="help-documentation">Further Assistance</h3>

<p>If you require further assistance using the Schools Portal, please contact the Technology Support Team on 1300 610 733 or via <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a>. Please note that support is available during school hours only.</p>