@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Help.ContactsModel
@{
}

<h2>Help documentation - School Contacts</h2>

<div class="d-flex flex-row mt-3 mb-3">
    <a href="javascript:history.go(-1);" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<h3 class="help-documentation">Module Description</h3>

<p>The School Contacts module of the Schools Portal lists the contact details that Aurora College has for the Partner School and their key staff members.</p>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Contacts.png" class="screenshot" />

<h3 class="help-documentation">Adding a contact</h3>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Contacts - Create.png" class="screenshot" />

<p>To add a contact to the Schools Portal, click the Add Contact button.</p>

<ul>
    <li>(Required) Enter the contacts first name</li>
    <li>(Required) Enter the contacts last name</li>
    <li>(Optional) Enter the direct phone number for the contact</li>
    <li>(Required) Enter the DoE Email address for the contact</li>
    <li>(Required) Select the Position of the contact
        <ul>
            <li>Principal</li>
            <li>Aurora College Coordinator</li>
            <li>Science Prac Teacher</li>
        </ul>
        If none of these options are suitable, contact the Administration Office for support.
    </li>
    <li>Click the Submit button</li>
</ul>

<p>The School field cannot be modified.</p>
<p>New contacts should receive an email welcoming them to Aurora College with links and instructions. They will also be able to log into the Schools Portal using their DoE email address.</p>

<h3 class="help-documentation">Removing a contact</h3>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Contacts - Remove.png" class="screenshot" />

<p>To remove a contact from the Schools Portal, click the Remove button next to the contact.</p>

<ul>
    <li>(Required) Enter the reason for removing this contact</li>
    <li>Click Update</li>
</ul>

<p>An email will be sent to Aurora College requesting the contact be deleted. The record will still show in the Schools Portal until the contact has been removed.</p>

<h3 class="help-documentation">Further Assistance</h3>

<p>If you require further assistance using the Schools Portal, please contact the Technology Support Team on 1300 610 733 or via <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a>. Please note that support is available during school hours only.</p>