@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Help.ExamSubmissionModel
@{
}

<h2>Help documentation - Exam Uploads</h2>

<div class="d-flex flex-row mt-3 mb-3">
    <a href="javascript:history.go(-1);" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<h3 class="help-documentation">Module Description</h3>

<p>The Exam Uploads module of the Schools Portal allows Partner School staff to submit paper-based exam assessments for marking by Aurora College teachers.</p>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Exam Submission - Step 4.png" class="screenshot" />

<p>All files uploaded must be in PDF format, and have a maximum file size of 10mb. The system will not allow any other file types to be uploaded.</p>

<h4>To upload a file</h4>
<ul>
    <li>Select a student from the dropdown list</li>
    <li>Select a course that the student is currently enrolled in</li>
    <li>Select the defined assignment for the course</li>
    <li>Select the file from the local computer</li>
    <li>Click the Submit button</li>
</ul>

<p>If there are no active assignments for the student and course combination selected, the system will show an error and prevent the file from being uploaded.</p>

<h3 class="help-documentation">Further Assistance</h3>

<p>If you require further assistance using the Schools Portal, please contact the Technology Support Team on 1300 610 733 or via <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a>. Please note that support is available during school hours only.</p>