@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Help.IndexModel
@{
}

<h2>Help documentation</h2>

<p>For information about a specific module, please use the links below:</p>
<ul>
    <li>Home / Dashboard</li>
    <li><a asp-page="/Help/Contacts" asp-area="Schools">School Contacts</a></li>
    <li><a asp-page="/Help/Absences" asp-area="Schools">Absences</a></li>
    <li><a asp-page="/Help/ScienceRolls" asp-area="Schools">Science Rolls</a></li>
    <li><a asp-page="/Help/Reports" asp-area="Schools">Reports</a></li>
    <li><a asp-page="/Help/Awards" asp-area="Schools">Awards</a></li>
    <li><a asp-page="/Help/ExamSubmission" asp-area="Schools">Exam Uploads</a></li>
    <li><a asp-page="/Help/Timetables" asp-area="Schools">Timetables</a></li>
    <li><a asp-page="/Help/Stocktake" asp-area="Schools">Stocktake</a></li>
</ul>

<p>Additionally, we have produced these <a asp-page="/Help/Video" asp-area="Schools">Video Guides</a> for the Schools Portal.</p>

<h3 class="help-documentation">Further Assistance</h3>

<p>If you require further assistance using the Schools Portal, please contact the Technology Support Team on 1300 610 733 or via <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a>. Please note that support is available during school hours only.</p>
