@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Help.ReportsModel
@{
}

<h2>Help documentation - Reports</h2>

<div class="d-flex flex-row mt-3 mb-3">
    <a href="javascript:history.go(-1);" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<h3 class="help-documentation">Module Description</h3>

<p>All academic reports issued by Aurora College are listed and available for download in the Reports module of the Schools Portal.</p>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Reports.png" class="screenshot" />

<p>Click the Download button next to the report to download the file.</p>

<h3 class="help-documentation">Further Assistance</h3>

<p>If you require further assistance using the Schools Portal, please contact the Technology Support Team on 1300 610 733 or via <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a>. Please note that support is available during school hours only.</p>