@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Help.ScienceRollsModel
@{
}

<h2>Help documentation - Science Rolls</h2>

<div class="d-flex flex-row mt-3 mb-3">
    <a href="javascript:history.go(-1);" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<h3 class="help-documentation">Module Description</h3>