@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Help.ScienceRollsModel
@{
}

<h2>Help documentation - Science Rolls</h2>

<div class="d-flex flex-row mt-3 mb-3">
    <a href="javascript:history.go(-1);" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<h3 class="help-documentation">Module Description</h3>

<p>The Science Rolls module of the Schools Portal allows Partner School staff to indicate when a Science Practical lesson has been conducted, and which students were present.</p>

<p>Science Rolls are considered a class roll under the Education Act, 1990. For this purpose they must be an accurate record of what occurred during the lesson. All rolls submitted include the details of the currently logged in staff member.</p>

<p>Rolls are grouped by grade, and listed with the subject to which they relate. An icon displays their current status.</p>

<dl class="help-documentation">
    <dt>Exclamation Mark - <i class="fas fa-exclamation"></i></dt>
    <dd>Indicates the lesson is overdue and the roll has not yet been submitted.</dd>
    
    <dt>Clock - <i class="fas fa-clock"></i></dt>
    <dd>Indicates the roll has not yet been submitted.</dd>
    
    <dt>Check - <i class="fas fa-check"></i></dt>
    <dd>Indicates the roll has been submitted</dd>
</dl>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Science Rolls - Pending.png" class="screenshot" />

<p>The list of lessons can be filtered using the buttons at the top of the screen.</p>

<dl class="help-documentation">
    <dt>All</dt>
    <dd>Shows all rolls from the current year</dd>
    
    <dt>Pending (default)</dt>
    <dd>Shows all unsubmitted rolls</dd>
    
    <dt>Overdue</dt>
    <dd>Shows only rolls that are overdue and not yet submitted</dd>
    
    <dt>Completed</dt>
    <dd>Shows only rolls that have been completed</dd>
</dl>

<h3 class="help-documentation">To submit a roll</h3>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Science Rolls - Marking a roll.png" class="screenshot" />

<p>To mark a roll, click the Submit Roll button next to the roll.</p>

<ul>
    <li>(Required) Select the date the lesson was delivered. This will default to the current date.</li>
    <li>(Optional> Enter a comment about the students progress or the lesson.</li>
    <li>(Required) For each student who was present during the lesson, click the toggle in the Present? column to show green.</li>
    <li>Click the Submit button</li>
</ul>

<p>If the roll is being submitted without any students present the Comment is required.</p>

<h3 class="help-documentation">Viewing a submitted roll</h3>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Science Rolls - Completed.png" class="screenshot" />

<p>To view a submitted roll, select the Completed filter from the top of the screen. This list will show the student attendance statistics instead of the Submit Roll button. Statistics are displayed as present students / total students.</p>
<p>Clicking the student attendance button will show you the details of the roll submitted.</p>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Science Rolls - Details.png" class="screenshot" />

<h3 class="help-documentation">Editing a submitted roll</h3>

<p>If the submitted roll contains an error, Partner School staff are able to edit and resubmit the roll for a period of 7 days from the Date Delivered.</p>

<p>To edit the roll, view the submitted roll and click the Edit button at the top. If the roll is no longer able to be edited, the button will not be shown.</p>

<h3 class="help-documentation">Further Assistance</h3>

<p>If you require further assistance using the Schools Portal, please contact the Technology Support Team on 1300 610 733 or via <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a>. Please note that support is available during school hours only.</p>