@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Help.StocktakeModel
@{
}

<h2>Help documentation - Stocktake</h2>

<div class="d-flex flex-row mt-3 mb-3">
    <a href="javascript:history.go(-1);" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<h3 class="help-documentation">Module Description</h3>

<p>The Stocktake module of the Schools Portal allows Partner School staff to submit the details of equipment loaned to students or schools as part of the required regular stocktake of equipment.</p>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Stocktake.png" class="screenshot" />

<p>If there is no active stocktake period, the system will show an error and redirect back to the Dashboard.</p>

<p>During stocktake periods, a list of previously sighted items will be shown, including the assigned user.</p>

<h3 class="help-documentation">Using the module</h3>

<div
    style="position: relative; display: block; max-width: 960px;">
    <div
        style="padding-top: 56.25%;">
        <iframe
            src="https://players.brightcove.net/6129830800001/8gmHRZce8_default/index.html?videoId=6377501484112"
            allowfullscreen=""
            allow="encrypted-media"
            style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
    </div>
</div>

@*
    
<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Stocktake - Sighting.png" class="screenshot" />

<ul>
    <li>(Optional) Enter the Asset Number of the item</li>
    <li>(Optional) Enter the Serial Number of the item</li>
    <li>(Required) Enter the description of the device</li>
    <li>(Required) Select the user type
        <ul>
            <li>Student - currently enrolled shared student with Aurora College</li>
            <li>Staff - currently employed Aurora College staff member located at this site</li>
            <li>School - the Partner School</li>
            <li>Community Member - a parent or other community member who has equipment on loan</li>
            <li>Other</li>
        </ul>
    </li>
    <li>(Required) Select or enter the details of the user, depending on what was selected for User Type</li>
    <li>(Required) Enter a comment on the status of the device.</li>
    <li>Click the Submit button</li>
</ul>

<p>The Asset Number and Serial Number fields are both optional, however one of the two MUST be entered. The system will not accept a sighting that does not include either of these items.</p>

<h3 class="help-documentation">Removing an incorrect entry</h3>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Stocktake - Remove.png" class="screenshot" />

<p>If a sighting was entered incorrectly, it may be removed by clicking the Remove button next to the entry</p>

<ul>
    <li>(Required) Enter the reason for the sighting being removed</li>
    <li>Click the Update button</li>
</ul>

<p>The sighting will be marked as deleted and removed from the list. A new sighting should be completed with the details of the equipment.</p>

 *@

<h3 class="help-documentation">Further Assistance</h3>

<p>If you require further assistance using the Schools Portal, please contact the Technology Support Team on 1300 610 733 or via <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a>. Please note that support is available during school hours only.</p>