@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Help.TimetablesModel
@{
}

<h2>Help documentation - Timetables</h2>

<div class="d-flex flex-row mt-3 mb-3">
    <a href="javascript:history.go(-1);" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<h3 class="help-documentation">Module Description</h3>

<p>The Timetables module of the Schools Portal allows Partner School staff to view and download the Aurora College timetable for each shared student.</p>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Timetables.png" class="screenshot" />

<h3 class="help-documentation">Viewing Timetables</h3>

<p>To view a students timetable, including period start and end times, click the View Timetable button next to the student.</p>

<img src="~/_content/Constellation.Presentation.Schools/images/schools/help/Timetables - Student.png" class="screenshot" />

<h3 class="help-documentation">Downloading Timetables</h3>

<p>To download a copy of the students timetable as PDF, click the Download button while viewing the timetable.</p>

<h3 class="help-documentation">Further Assistance</h3>

<p>If you require further assistance using the Schools Portal, please contact the Technology Support Team on 1300 610 733 or via <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a>. Please note that support is available during school hours only.</p>