@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Help.VideoModel
@{
}

<h2>Help documentation - Video guides</h2>

<div class="d-flex flex-row mt-3 mb-3">
    <a href="javascript:history.go(-1);" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<h3 class="help-documentation">Module Description</h3>

<p>For a tour of the Portal, please watch the video below.</p>

<div style="position: relative; display: block; max-width: 960px;"><div style="padding-top: 56.25%;"><iframe src="https://players.brightcove.net/6129830800001/8gmHRZce8_default/index.html?videoId=6305690741112" allowfullscreen="" allow="encrypted-media" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div></div>

<h2>Awards Details and Stocktake</h2>

<p>In version 1.4 we added the ability for Partner Schools to review student awards totals, and enter stocktake data. For a demonstration of these features, please watch the video below:</p>

<div style="position: relative; display: block; max-width: 960px;"><div style="padding-top: 56.25%;"><iframe src="https://players.brightcove.net/6129830800001/8gmHRZce8_default/index.html?videoId=6309264327112" allowfullscreen="" allow="encrypted-media" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div></div>


<h3 class="help-documentation">Further Assistance</h3>

<p>If you require further assistance using the Schools Portal, please contact the Technology Support Team on 1300 610 733 or via <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a>. Please note that support is available during school hours only.</p>