@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Subject.Assignments.CreateModel

@using Constellation.Presentation.Staff.Areas.Staff.Pages.Subject.Assignments

<h2>Create Assignment</h2>

<hr />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        @if (Model.ProgressPhase == CreateModel.Phase.SelectCourse)
        {
            <h1 class="display-4">Step 1</h1>
            <p class="lead">Select the course that the assignment is linked to.</p>
        }
        
        @if (Model.ProgressPhase == CreateModel.Phase.SelectAssignment)
        {
            <h1 class="display-4">Step 2</h1>
            <p class="lead">Select the assignment from Canvas that you wish to add.</p>
        }
        
        @if (Model.ProgressPhase == CreateModel.Phase.EnterDetails)
        {
            <h1 class="display-4">Step 3</h1>
            <p class="lead">Check and update the assignment information from Canvas.</p>
            <p class="text-danger">Please note: changing the settings here does not change the assignment settings in Canvas!</p>
        }
    </div>
</div>

<form method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        
        @if (Model.ProgressPhase == CreateModel.Phase.SelectCourse)
        {
            <div class="form-group row">
                <label asp-for="Id" class="col-md-2">Course</label>
                <div class="col-md-5">
                    <select asp-for="Id" asp-items="Model.Courses" class="form-control">
                        <option value=""> -- Select Course -- </option>
                    </select>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div class="form-group row">
                <label asp-for="Id" class="col-md-2">Course</label>
                <div class="col-md-5">
                    <input type="hidden" asp-for="Id" />
                    <span>@Model.CourseName</span>
                </div>
            </div>

            @if (Model.ProgressPhase == CreateModel.Phase.SelectAssignment)
            {
                <div class="form-group row">
                    <label asp-for="CanvasAssignmentId" class="col-md-2">Canvas Assignment Name</label>
                    <div class="col-md-5">
                        @if (Model.Assignments.Count == 0)
                        {
                            <span>No Valid Assignments found!</span>
                        } else
                        {
                            <select asp-for="CanvasAssignmentId" asp-items="Model.Assignments" class="form-control">
                                <option value=""> -- Select Assignment -- </option>
                            </select>
                            <span asp-validation-for="CanvasAssignmentId" class="text-danger"></span>    
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label asp-for="CanvasAssignmentId" class="col-md-2">Canvas Assignment Name</label>
                    <div class="col-md-5">
                        <input type="hidden" asp-for="CanvasAssignmentId" />
                        <span>@Model.AssignmentName</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Name" class="col-md-2">Assignment Name</label>
                    <div class="col-md-5">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="DueDate" class="col-md-2">Due Date</label>
                    <div class="col-md-5">
                        <input asp-for="DueDate" class="form-control" readonly="readonly" />
                        <span class="text-danger">If this value is incorrect, please update the Canvas Assignment and restart this process</span>
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="UnlockDate" class="col-md-2">Unlock Date</label>
                    <div class="col-md-5">
                        <input asp-for="UnlockDate" class="form-control" readonly="readonly" />
                        <span class="text-danger">If this value is incorrect, please update the Canvas Assignment and restart this process</span>
                        <span asp-validation-for="UnlockDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="LockDate" class="col-md-2">Lock Date</label>
                    <div class="col-md-5">
                        <input asp-for="LockDate" class="form-control" readonly="readonly" />
                        <span class="text-danger">If this value is incorrect, please update the Canvas Assignment and restart this process</span>
                        <span asp-validation-for="LockDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="AllowedAttempts" class="col-md-2">Allowed Attempts</label>
                    <div class="col-md-5">
                        <input asp-for="AllowedAttempts" class="form-control" readonly="readonly" />
                        <span class="text-danger">If this value is incorrect, please update the Canvas Assignment and restart this process</span>
                        <span asp-validation-for="AllowedAttempts" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="DelayForwarding" class="col-md-2">Delay Submission</label>
                    <div class="col-md-3">
                        <input asp-for="DelayForwarding" class="form-control" />
                        <span asp-validation-for="DelayForwarding" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="ForwardingDate" class="col-md-2">Forward to Canvas Date</label>
                    <div class="col-md-5">
                        <input asp-for="ForwardingDate" class="form-control" />
                        <span asp-validation-for="ForwardingDate" class="text-danger"></span>
                    </div>
                </div>
            }
        }
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                @if (Model.ProgressPhase == CreateModel.Phase.SelectCourse)
                {
                    <button asp-page-handler="StepOne" type="submit" class="btn btn-primary btn-block btn-lg">Next</button>
                }
                
                @if (Model.ProgressPhase == CreateModel.Phase.SelectAssignment)
                {
                    <button asp-page-handler="StepTwo" type="submit" class="btn btn-primary btn-block btn-lg">Next</button>
                }
                
                @if (Model.ProgressPhase == CreateModel.Phase.EnterDetails)
                {
                    <button asp-page-handler="Submit" type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
                }
            </div>
        </div>
    </div>
</form>