@model Constellation.Presentation.Schools.Areas.BasePageModel

@{
    var activePageAvailable = ViewData.TryGetValue("ActivePage", out var activePage);
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Aurora College Schools Portal</title>

        <link rel="icon" type="image/svg" href="~/logo.svg" />
        <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/private/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="~/css/schools.css" />
        <link rel="stylesheet" href="~/Constellation.Presentation.Schools.styles.css" />
        <link rel="stylesheet" href="~/Constellation.Presentation.Shared.styles.css" />
        <link rel="stylesheet" href="~/Constellation.Presentation.Server.styles.css" />

        <script src="~/lib/jquery/jquery.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="page">
                <div class="sidebar">
                    <vc:school-nav active-page="@activePage.ToString()" />
                </div>

                <main>
                    <div class="top-row main px-4 text-right">
                        <div class="col-md-8">
                            <vc:school-selector selected-school-code="@Model.CurrentSchoolCode" />
                        </div>
                        <div class="col">
                        @if (User?.Identity is not null && User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-sm btn-warning ml-4" asp-area="Admin" asp-page="/Logout">Log Out</a>
                            }
                            else
                            {
                                <a class="btn btn-sm btn-success" asp-area="Admin" asp-page="/Login">Log In</a>
                            }
                        </div>
                    </div>

                    <article class="content px-4">
                        @RenderBody()
                    </article>
                </main>
            </div>
            
            @if (Model.Error is not null)
            {
                <vc:error-display-redirect error="@Model.Error" />

                <script>
                    $(document).ready(function () {
                        $('#errorModal').modal('show');
                    });
                </script>
            }
        </div>

        <script src="~/lib/bootstrap5/js/bootstrap.min.js"></script>
        <script src="~/js/schools.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>