@model Contacts_AssignmentViewModel

<div class="modal fade" id="addAssignment">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="_AddAssignment" asp-controller="SchoolContacts" asp-area="Partner" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">Add new contact</h3>
                </div>
                <div class="modal-body">
                    <div>
                        @Html.HiddenFor(model => model.ContactRole.SchoolCode)
                        <div class="row">
                            <div class="form-group col-md-10 offset-1">
                                <span class="control-label">Staff member </span>
                                <select asp-for="ContactRole.SchoolContactId" asp-items="@Model.SchoolStaffList" class="combo">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10 offset-1">
                                <span class="control-label">is the </span>
                                <select asp-for="ContactRole.Role" asp-items="@Model.RoleList" class="combo-with-tag">
                                    <option value="-- Select or Enter --"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10 offset-1">
                                <span class="control-label">at </span>@Model.ContactRole.SchoolName
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>