@page
@model Constellation.Presentation.Parents.Areas.Parents.Pages.IndexModel

@if (Model.PendingApplications)
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Third-party consent required</h4>
        <p>Aurora College requires your response for required third-party applications used in your students learning.</p>
        <p class="mb-0">Click here to <a asp-page="/ThirdParty/Index" asp-area="Parents" class="alert-link">view third-party applications</a>.</p>
    </div>
}

<h1>Welcome to the Aurora College Parents Portal</h1>

<p>This portal can be used to access information from Aurora College about your child.</p>

<p>
    Please use the menu to select the area you wish to investigate:
    <dl>
        <dt>Attendance</dt>
        <dd>View attendance information including explained an unexplained absences</dd>
        <dt>Awards</dt>
        <dd>View awards issued to your child</dd>
        <dt>Reports</dt>
        <dd>Download academic reports issued by Aurora College and reports from external testing and competitions for your child</dd>
        <dt>Timetable</dt>
        <dd>View and download a copy of your childs Aurora College timetable</dd>
        <dt>Contacts</dt>
        <dd>Send a message to your childs class teachers or to the school administration</dd>
    </dl>
</p>