@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Partner.Schools.LocationsModel

@{
    var elementId = $"map-{Guid.NewGuid():D}";

    if (Model.Anonymous)
    {
        Layout = "/Areas/Staff/Pages/Shared/_Blank.cshtml";
    }
}

<h2>@Model.PageHeading</h2>

<div id="@elementId" style="height: 80vh"></div>

@section scripts
{
    <script>
        $(document).ready(
            function () {
                DisplayMap('@elementId', @Html.Raw(Json.Serialize(Model.Layers)));
            });
    </script>
}