<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Constellation</title>

    <link rel="icon" type="image/svg" href="~/logo.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-dt/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/dist/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/staff.css" />
    <link rel="stylesheet" href="~/css/glyphicon.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/logo.svg" class="nav-bar-logo d-inline-block align-middle" />Constellation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li><a asp-page="/Dashboard" asp-area="Staff" class="nav-link">Staff</a></li>
                        <li><a asp-page="/Dashboard" asp-area="Schools" class="nav-link">Schools</a></li>
                        <li><a asp-page="/Index" asp-area="Parents" class="nav-link">Parents</a></li>
                        <li><a asp-page="/Index" asp-area="Students" class="nav-link">Students</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap4/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/datatables-plugins/sorting/datetime-moment.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/Chart.js/chart.min.js"></script>
    <script src="~/lib/downloadjs/download.min.js"></script>
    <script src="~/js/staff.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
