<div class="modal fade" tabindex="-1" id="legend">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Status icon legend</h5>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-2">
                        <img src="/images/GreenLight.png" class="training status-icon" />
                    </div>
                    <div class="col-8 align-self-center">Expires in more than 31 days</div>
                </div>

                <div class="row mb-2">
                    <div class="col-2">
                        <img src="/images/YellowLight.png" class="training status-icon" />
                    </div>
                    <div class="col-8 align-self-center">Expires between 15 days and 31 days</div>
                </div>

                <div class="row mb-2">
                    <div class="col-2">
                        <img src="/images/RedLight.png" class="training status-icon" />
                    </div>
                    <div class="col-8 align-self-center">Expires between 1 day and 15 days</div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <img src="/images/RedLight.png" class="training status-icon blink" />
                    </div>
                    <div class="col-8 align-self-center">
                        Has already expired
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>