@page
@model Constellation.Presentation.Server.Areas.Admin.Pages.Auth.Users.EditModel

<h2>Edit User</h2>

<div class="row">
    <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr />

<form asp-page-handler="Update">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <label asp-for="FirstName" class="col-md-2"></label>
            <div class="col-md-5">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="LastName" class="col-md-2"></label>
            <div class="col-md-5">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="IsStaffMember" class="col-md-2"></label>
            <div class="col-md-5">
                <input asp-for="IsStaffMember" class="form-control custom-switch" />
                <span asp-validation-for="IsStaffMember" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="StaffId" class="col-md-2"></label>
            <div class="col-md-5">
                <input asp-for="StaffId" class="form-control" />
                <span asp-validation-for="StaffId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="IsSchoolContact" class="col-md-2"></label>
            <div class="col-md-5">
                <input asp-for="IsSchoolContact" class="form-control custom-switch" />
                <span asp-validation-for="IsSchoolContact" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="SchoolContactId" class="col-md-2"></label>
            <div class="col-md-5">
                <input asp-for="SchoolContactId" class="form-control" />
                <span asp-validation-for="SchoolContactId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="IsParent" class="col-md-2"></label>
            <div class="col-md-5">
                <input asp-for="IsParent" class="form-control custom-switch" />
                <span asp-validation-for="IsParent" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}