@model Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.PartialViews.UpdateAttachmentDetails.UpdateAttachmentDetailsViewModel

<form asp-page-handler="UpdateAttachment" method="post">
    <div class="modal-header">
        <h5 class="modal-title">Update Attachment</h5>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3">Note</label>
            <div class="col-md-9">
                @Html.HiddenFor(model => model.AttachmentId)
                FileName
                Student
                Report Type
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Update Attachment</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
    </div>
</form>