@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Partner.Students.AddPhotoModel

@{
    Layout = "/Areas/Staff/Pages/Shared/_StaffLayout.bs5.cshtml";
}

<h2>Upload Student Photo</h2>

<div class="page-menu">
    <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right show-loader">Go Back</a>
</div>

<hr />

<form method="post" enctype="multipart/form-data">
    <div class="form-horizontal">

        <div class="mb-3 row">
            <label asp-for="Id" class="col-md-2">Student</label>
            <div class="col-md-8">
                <select asp-for="Id" asp-items="@Model.Students" class="combo form-control">
                    <option> -- Select -- </option>
                </select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>


        <div class="mb-3 row">
            <label asp-for="UploadFile" class="col-md-2">Image File</label>
            <div class="col-md-8">
                <div class="custom-file">
                    <input asp-for="UploadFile" type="file" class="custom-file-input form-control" />
                </div>
                <span asp-validation-for="UploadFile" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <div class="col-md-3 d-grid">
                <input type="submit" value="Save" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}