.fal {
    border-radius: 0.2rem;
    padding: 0.3rem;
    font-size: 2rem;
    width: 2.5rem;
}

.fa-male {
    background-color: lightblue;
}

    .fa-male:before {
        margin-left: 25%;
    }

.fa-female {
    background-color: pink;
}

    .fa-female:before {
        margin-left: 25%;
    }

.fa-house-leave {
    background-color: lightyellow;
}

.fa-comment-check {
    background-color: lightgreen;
}

.fa-comment-times {
    background-color: lightsalmon;
    color: red;
}

td:has(i) {
    max-width: 1px;
}

.table-striped tbody tr.current {
    background-color: rgba(34, 139, 34, 0.5);
    font-weight: bold;
}

tr.future {
    font-style: italic;
}