@model Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.Components.ActionUpdateForm.SentralIncidentStatusActionViewModel

<form asp-page-handler="UpdateIncidentStatusEntryAction" method="post">
    <div class="border border-success row mt-1 pb-1">
        <div class="col-12 border-bottom border-dark py-1"><strong>Update Action</strong></div>
        <div class="col-12 mt-1">
            <button type="submit" class="btn btn-sm btn-success">Save</button>
            <a href="javascript:history.go(-1)" class="btn btn-sm btn-danger mr-3">Go Back</a>
        </div>
        <div class="col-12 mt-3">
            <div class="form-group row">
                <label class="col-md-3">Incident Status</label>
                <div class="col-md-5">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary">
                            <input asp-for="Status" type="radio" value="Resolved" id="status-resolved"> Resolved
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input asp-for="Status" type="radio" value="Not Completed" id="status-not-completed"> Not Completed
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row d-none incident-number">
                <label asp-for="IncidentNumber" class="col-md-3">Reissued Incident ID Number</label>
                <div class="col-md-5">
                    <input asp-for="IncidentNumber" class="form-control"/>
                    <span class="text-danger">This is the Sentral Wellbeing Incident ID number for the follow-up incident</span>
                    <span asp-validation-for="IncidentNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var statuses = $('input[name="Status"]');

        if (statuses[1].checked == true) {
            $('.incident-number').removeClass('d-none');
        };
    });

    $('input[name="Status"]').on('change', function (event) {
        var status = $(this).val();

        if (status == "Resolved") {
            $('.incident-number').addClass('d-none');
        }

        if (status == "Not Completed") {
            $('.incident-number').removeClass('d-none');
        }
    });
</script>