<form asp-page-handler="UpdateUploadTrainingCertificateAction" method="post">
    <div class="border border-success row mt-1 pb-1">
        <div class="col-12 border-bottom border-dark py-1"><strong>Update Action</strong></div>
        <div class="col-12 mt-1">
            <button type="submit" class="btn btn-sm btn-success">Save</button>
            <a href="javascript:history.go(-1)" class="btn btn-sm btn-danger mr-3">Go Back</a>
        </div>
        <div class="col-12 mt-3">
            <div class="form-group row">
                <span class="text-danger">
                    By marking this action as Confirmed you are affirming that you have completed the Training Module and uploaded the Certificate to Constellation.
                </span>
            </div>
        </div>
    </div>
</form>