@model SentralIncidentStatusAction

@using Constellation.Core.Models.WorkFlow
@using Constellation.Core.Models.WorkFlow.Enums
@using Microsoft.Extensions.Options
@using Constellation.Application.Interfaces.Configuration

@inject IOptions<SentralGatewayConfiguration> options

<dl>
    <dt>Response</dt>
    <dd>
        @if (Model.Status == ActionStatus.Completed)
        {
            if (Model.MarkedResolved)
            {
                <span>Resolved</span>
            }
            else
            {
                <span>Not Completed</span><br />
                <span>Reissue Incident # @Model.IncidentNumber</span><br />
                @if (!string.IsNullOrWhiteSpace(options.Value.ServerUrl))
                {
                    var url = $"{options.Value.ServerUrl}/wellbeing/incidents/view?id={Model.IncidentNumber}";

                    <a href="@url" target="_blank">@url</a>
                }
            }
        }
    </dd>
</dl>