@namespace Constellation.Portal.Schools.Client.Components

@if (IsLoading)
{
    <div class="loader">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
} 
else
{
    @ChildContent
}

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool IsLoading { get; set; }
}
