@page
@model Constellation.Presentation.Server.Areas.Admin.Pages.Rollover.ImportModel

<h2>Import New Enrolments</h2>

<hr />

<form method="post"  enctype="multipart/form-data">
    <div class="form-group row">
        <label asp-for="FormFile" class="col-md-2">Excel File</label>
        <div class="col-md-6">
            <div class="custom-file">
                <input asp-for="FormFile" type="file" class="custom-file-input" />
                <label class="custom-file-label" asp-for="FormFile">Choose file</label>
            </div>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="form-check col">
            <input asp-for="RemoveExcess" type="checkbox" class="form-check-input">
            <label asp-for="RemoveExcess" class="form-check-label" >Remove students not in file?</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2 offset-md-1">
            <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg"/>
        </div>
    </div>
</form>

<hr />

@if (Model.Results.Any())
{
    <table class="table table-striped table-hover data-table">
        <thead>
        <tr>
            <th></th>
            <th>Row</th>
            <th>Error</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @if (!item.Succeeded)
                    {
                        <i class="fas fa-cross" />
                    }
                    
                    @if (item.Succeeded)
                    {
                        <i class="fas fa-check" />
                    }
                </td>
                <td>@item.RowNumber</td>
                <td>
                    @if (item.Error is not null)
                    {
                        @item.Error.Code<br/>
                        @item.Error.Message
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}