@page
@model Constellation.Presentation.Server.Areas.Admin.Pages.HangfireDashboardModel

<h3>Hangfire Job Activator</h3>

<table>
    @foreach (var job in Model.JobStatuses.OrderBy(status => status.JobName)) 
    {
        <tr>
            <td style="width: 30%"><span class="heading">@job.JobName (@(job.IsActive ? "Active" : "Inactive"))</span></td>
            <td>
                <form asp-page-handler="ToggleJob" method="post">
                    <input type="hidden" name="id" value="@job.Id" />
                    @if (job.IsActive)
                    {
                        <button class="btn btn-danger">Disable</button>
                    } else
                    {
                        <button class="btn btn-success">Enable</button>
                    }
                </form>
            </td>
        </tr>
    }
</table>
