@model string

<div class="border border-success row mt-1 pb-1">
    <div class="col-12 border-bottom border-dark py-1"><strong>Update Action</strong></div>
    <div class="col-12 mt-1">
        <a href="javascript:history.go(-1)" class="btn btn-sm btn-danger mr-3">Go Back</a>
    </div>
    <div class="col-12 mt-3">
        <div class="form-group row">
            <div class="col">
                <strong>This action has been Cancelled and cannot be updated</strong>
            </div>
        </div>
    </div>
</div>