@model ConfirmActionUpdateModalViewModel

<div class="modal-header">
    <h5 class="modal-title">Update Case Status</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col">
            <span class="control-label">Are you sure you wish to mark this Action cancelled? Any outstanding child Actions will also be cancelled.</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a asp-page-handler="CancelAction" asp-route-actionId="@Model.ActionId" class="btn btn-danger">Mark Cancelled</a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
</div>