@using Constellation.Application.Models.Auth

@model Casual_ViewModel

@{
    var authorised = (User.IsInRole(AuthRoles.CoverEditor) || User.IsInRole(AuthRoles.Admin));
}

<h2>Casual Teacher List</h2>

<div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">With Status <span class="caret"></span></button>
        <div class="dropdown-menu">
            <a asp-action="All" asp-controller="Casuals" asp-area="ShortTerm" class="dropdown-item">All Casuals</a>
            <a asp-action="Active" asp-controller="Casuals" asp-area="ShortTerm" class="dropdown-item">Active</a>
            <a asp-action="Inactive" asp-controller="Casuals" asp-area="ShortTerm" class="dropdown-item">Inactive</a>
        </div>
    </div>

    @if (authorised)
    {
        <a asp-action="Create" asp-controller="Casuals" asp-area="ShortTerm" class="btn btn-info">Create New</a>
    }
</div>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>School</th>
            <th>Future Covers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Casuals)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Name)</td>
                <td>@Html.DisplayFor(model => item.SchoolName)</td>
                <td><span class="badge">@item.FutureCoverCount</span></td>
                <td>
                    @if (authorised)
                    {
                        <a asp-action="Details" asp-controller="Casuals" asp-area="ShortTerm" asp-route-id="@item.Id" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>