@model string

@if (!string.IsNullOrEmpty(Model) && Model.Length == 10)
{
    <span>@string.Format("({0}) {1} {2}",
              Model.Substring(0, 2),
              Model.Substring(2, 4),
              Model.Substring(6, 4))</span>
}
else
{
    <span>@Model</span>
}