@page "/fetchdata"
@using Constellation.Application.DTOs
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Students List</PageTitle>

<h1>Students List</h1>

@if (Students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>SRN</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Students)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.FirstName @student.LastName</td>
                    <td>@student.PortalUsername@@det.nsw.edu.au</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<StudentDto> Students = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Students = await Http.GetFromJsonAsync<List<StudentDto>>("Students");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
