@page "/"

<h1>Welcome to the Aurora College Parents Portal</h1>

<p>This portal can be used to access information from Aurora College about your child.</p>

<p>Please use the menu to select the area you wish to investigate:
    <dl>
        <dt>Attendance</dt>
        <dd>View attendance information including explained an unexplained absences</dd>
        <dt>Awards</dt>
        <dd>View awards issued to your child</dd>
        <dt>Reports</dt>
        <dd>Download reports issued by Aurora College for your child</dd>
        <dt>Timetable</dt>
        <dd>View and download a copy of your childs Aurora College timetable</dd>
        <dt>Contacts</dt>
        <dd>Send a message to your childs class teachers or to the school administration</dd>
    </dl>
</p>

<h2>Recent Changes <span class="badge bg-warning">new</span></h2>

<p>The latest update to our Parent Portal includes the following changes:</p>

<ul>
    <li>Awards listing now include extra details for some awards</li>
    <li>Certificates can now be downloaded for some awards</li>
</ul>