@page
@using Constellation.Application.Awards.Enums
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

<h2>Test Page</h2>

<form method="post">
<div class="form-group row">
    <label asp-for="StudentIds" class="col-md-12">Selected Students</label>
    <div class="col-offset-1 col-md-2">
        <button id="ShowStudentSelectList" type="button" class="btn btn-primary btn-block">Add Students</button>
    </div>
    <div class="col-md-8" id="SelectedStudentsList">
    </div>
</div>

<div class="form-group row">
    <label asp-for="AwardType" class="col-md-12">Award</label>
    <div class="col-offset-1 col-md-10">
        <select asp-for="AwardType" asp-items="@Html.GetEnumSelectList<IssueAwardType>()" class="combo w-100">
            <option> -- Select -- </option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-3">
        <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
    </div>
</div>
</form>

<div class="modal" id="StudentListModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Students for Filter</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group col">
                            <span class="control-label">Student</span>
                            <select asp-items="@(new SelectList(Model.StudentsList, "Key", "Value"))" id="custom-student-combo" style="width:100%">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <h5 class="col-md-12">Selected Students:</h5>
                        <div class="col-md-12" id="ModalSelectedStudentsList"> </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    @foreach (var student in Model.StudentsList)
    {
        <button id="studentSelect-@student.Key" type="button" class="btn btn-outline-info select-button" onclick="toggleStudent('@student.Key')">@student.Value</button>
    }
</div>

@section scripts {
    <script>
        $('#ShowStudentSelectList').on('click', function () {
            $('#StudentListModal').modal('show');
        });

        var $studentOption = $("#custom-student-combo").select2({ theme: 'bootstrap' });

        $studentOption.on('select2:select', function (e) {
            var code = e.params.data.id;
            toggleStudent(code);
        });

        $studentOption.on('select2:unselect', function (e) {
            var code = e.params.data.id;
            toggleStudent(code);
        });

        function toggleStudent(code) {
            var selectDiv = $('#studentSelect-' + code);
            if (selectDiv.hasClass('btn-info')) {
                // Selected, need to deselect
                selectDiv.removeClass('btn-info');
                selectDiv.addClass('btn-outline-info')

                $('#pd-studentSelect-' + code).remove();
                $('#md-studentSelect-' + code).remove();
                $('#i-studentSelect-' + code).remove();
            }
            else {
                // Deselected, need to select
                selectDiv.addClass('btn-info');
                selectDiv.removeClass('btn-outline-info')

                var pageDisplayDiv = $('#studentSelect-' + code).clone().prop('id', 'pd-studentSelect-' + code);
                pageDisplayDiv.appendTo('#SelectedStudentsList');
                var modalDisplayDiv = $('#studentSelect-' + code).clone().prop('id', 'md-studentSelect-' + code);
                modalDisplayDiv.appendTo('#ModalSelectedStudentsList');

                var input = $('<input>').attr('id', 'i-studentSelect-' + code)
                    .attr('name', 'StudentIds')
                    .attr('type', "hidden");
                input.val(code);
                var classInputDiv = $('#SelectedStudentsList');
                classInputDiv.append(input);
            }
        }
    </script>
}