@page
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

<form method="post" enctype="multipart/form-data">
    <input asp-for="UploadFile" type="file" />

    <button type="submit">Submit</button>
</form>

