@page
@using Constellation.Core.Extensions
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

<h2>Sentral Incident Tracking Report</h2>

<div class="page-menu">
</div>

<hr />

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th># Members</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Roles)
        {
            <tr>
                <td>@entry.Name</td>
                <td>@entry.Members.Count()</td>
            </tr>
        }
    </tbody>
</table>

