@page
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

<form method="post">
    <button type="submit">Submit</button>
</form>

<ul>
    @foreach (var message in Model.Messages){
        <li>@message</li>
    }
</ul>

