@page
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

<h2>Test Page</h2>

<div class="page-menu">
    <a asp-page-handler="RunCode" class="btn btn-danger">Run Code</a>
</div>

<hr />

<form method="post" asp-page-handler="ImportFile" enctype="multipart/form-data">
    <div class="form-group row">
        <label asp-for="UploadFile" class="col-md-2">Excel File</label>
        <div class="col-md-6">
            <div class="custom-file">
                <input asp-for="UploadFile" type="file" class="custom-file-input" />
                <label class="custom-file-label" asp-for="UploadFile">Choose file</label>
            </div>
        </div>
        <div class="col-md-2 offset-md-1">
            <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
        </div>
    </div>
</form>

<span>@Model.Message</span>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}