@page
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

<h2>Test Page</h2>

<div class="page-menu">
    <a asp-page-handler="RunCode" class="btn btn-danger">Run Code</a>
</div>

<hr />

<span>@Model.Message</span>