@page

@using Constellation.Core.Extensions
@using Constellation.Core.Models.WorkFlow
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

<h2>WorkFlow Cases</h2>

<div class="page-menu">
    <a asp-page-handler="CreateCase" class="btn btn-danger">Create Case</a>
</div>

<hr />
