@page
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel


<form asp-page-handler="ProcessOutbox">
    <button type="submit">Run Outbox</button>
</form>

<form asp-page-handler="AuditParents">
    <button type="submit">Audit Parents</button>
</form>

<form asp-page-handler="MarkRoll">
    <button type="submit">Mark Roll</button>
</form>