.Primary-A {
    background-color: #e83e8c;
}

.Primary-B {
    background-color: #28a745;
}

.Primary-C {
    background-color: #007bff;
}

.Secondary-G {
    background-color: #28a745;
}

.Secondary-P {
    background-color: #e83e8c;
}

.Senior-1 {
    background-color: #007bff;
}

.Senior-2 {
    background-color: #6f42c1;
}

.Senior-3 {
    background-color: #dc3545;
}

.Senior-4 {
    background-color: #28a745;
}

.Senior-5 {
    background-color: #ffc107;
}

.Senior-6 {
    background-color: #17a2b8;
}
