.Primary-B {
    background-color: #9de3fd;
}

.Primary-P {
    background-color: #fcdbfa;
}

.Primary-R {
    background-color: #f66a68;
}

.Secondary-G {
    background-color: #c6e5af;
}

.Secondary-N {
    background-color: #146197;
}

.Alternate-V {
    background-color: #e4c7ee;
}

.Alternate-Y {
    background-color: #f5e28a;
}

.Senior-1 {
    background-color: #007bff;
}

.Senior-2 {
    background-color: #6f42c1;
}

.Senior-3 {
    background-color: #dc3545;
}

.Senior-4 {
    background-color: #28a745;
}

.Senior-5 {
    background-color: #ffc107;
}

.Senior-6 {
    background-color: #17a2b8;
}
