@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Partner.Students.Reports.ImportModel
@{
}

<h2>Import Students from file</h2>

<hr />

<form method="post" asp-page-handler="ImportFile" enctype="multipart/form-data">
    <div class="form-group row">
        <label asp-for="UploadFile" class="col-md-2">Excel File</label>
        <div class="col-md-6">
            <div class="custom-file">
                <input asp-for="UploadFile" type="file" class="custom-file-input" />
                <label class="custom-file-label" asp-for="UploadFile">Choose file</label>
            </div>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="form-check col">
            <input asp-for="RemoveExcess" type="checkbox" class="form-check-input">
            <label asp-for="RemoveExcess" class="form-check-label" >Remove students not in file?</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2 offset-md-1">
            <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg"/>
        </div>
    </div>
</form>

@if (Model.Statuses.Count > 0)
{
    int successCount = Model.Statuses.Count(status => status.Succeeded);

    <h3>@successCount students successfully created or updated!</h3>

    <dl>
        @foreach (var status in Model.Statuses.Where(status => !status.Succeeded))
        {
            <dt>Line @status.RowNumber</dt>
            <dd>@status.Error!.Code: @status.Error.Message</dd>
        }
    </dl>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}