@using Constellation.Core.Enums;
@model TeacherAddFacultySelection

<div class="modal fade" id="addMembership">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="_AddFacultyMembership" asp-controller="Staff" asp-area="Partner" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">Add new contact</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="form-group col-md-10 offset-1">
                                <span class="control-label">Staff member </span>
                                @Html.HiddenFor(model => model.StaffId)
                                <input asp-for="StaffName" class="form-control" readonly="readonly" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10 offset-1">
                                <span class="control-label">is in faculty </span>
                                <select asp-for="FacultyId" asp-items="@Model.Faculties" class="form-control combo custom-select">
                                    <option> -- Please Select -- </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10 offset-1">
                                <span class="control-label">with role </span>
                                <select asp-for="Role" asp-items="@Model.FacultyRoles" class="form-control combo custom-select">
                                    <option> -- Please Select -- </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>