@page "/Subject/GroupTutorials/Tutorials/{TutorialId:Guid}/Rolls/{RollId:Guid}/{Mode}"
@model Constellation.Presentation.Server.Areas.Subject.Pages.GroupTutorials.Tutorials.RollModel

<h3>MODE: @Model.Mode</h3>
<h3>ROLL ID: @Model.RollId</h3>
<h3>TUTORIAL ID: @Model.TutorialId</h3>