.selected {
    /*"bg-info text-white";*/
    background-color: cornflowerblue;
    color: white;
}

.unselected {
    /*"bg-light";*/
    background-color: white;
}

.cursor-pointer {
    cursor: pointer;
    user-select: none;
}

.mode-explanation {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
