@using Constellation.Presentation.Server.Areas.Equipment.Models.Stocktake
@model UpsertStocktakeEventViewModel

<h2>@((Model.Command.Id == Guid.Empty) ? "New Stocktake Event" : "Edit Stocktake Event")</h2>

<div class="row">
    <a asp-action="Index" asp-controller="Stocktake" asp-area="Equipment" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr />

<form asp-action="Update" asp-controller="Stocktake" asp-area="Equipment" method="post">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <label asp-for="Command.Id" class="col-md-2">Id</label>
            <div class="col-md-3">
                <input asp-for="Command.Id" class="form-control" readonly="readonly" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Command.Name" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Command.Name" class="form-control" />
                <span asp-validation-for="Command.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Command.StartDate" class="col-md-2">Start Date</label>
            <div class="col-md-3">
                <input asp-for="Command.StartDate" class="form-control" />
                <span asp-validation-for="Command.StartDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Command.EndDate" class="col-md-2">End Date</label>
            <div class="col-md-3">
                <input asp-for="Command.EndDate" class="form-control" />
                <span asp-validation-for="Command.EndDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Command.AcceptLateResponses" class="col-md-3">Accept Late Responses?</label>
            <div class="col-md-2">
                <input asp-for="Command.AcceptLateResponses" class="form-control" />
                <span asp-validation-for="Command.AcceptLateResponses" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}