@model Constellation.Application.Common.PresentationModels.ErrorDisplay

<div class="modal fade" id="errorModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error!</h5>
            </div>
            <div class="modal-body">
                <div>@Model.Error.Code</div>
                <span>@Model.Error.Message</span>
            </div>
            <div class="modal-footer">
                @if (string.IsNullOrWhiteSpace(Model.RedirectPath))
                {
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                }
                else
                {
                    <a href="@Model.RedirectPath" class="btn btn-success">Ok</a>
                }
            </div>
        </div>
    </div>
</div>