@model string

@using Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.Components.StaffSidebarMenu
@using Microsoft.AspNetCore.Mvc.TagHelpers

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted" role="button">
            <span class="w-100">Class Covers</span>
        </h4>
        <ul class="nav flex-column mx-2">
            <li class="nav-item">
                <a class="nav-link @(Model == ActivePage.ShortTerm_Casuals_Index ? "active" : "")" asp-page="/ShortTerm/Casuals/Index" asp-area="Staff">
                    Casuals
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(Model == ActivePage.ShortTerm_Covers_Index ? "active" : "")" asp-page="/ShortTerm/Covers/Index" asp-area="Staff">
                    Covers
                </a>
            </li>
        </ul>
    </div>
</nav>
