@model Devices_AssignViewModel

<h2>Allocate device</h2>

<div class="row">
    <a asp-action="Details" asp-controller="Devices" asp-area="Equipment" asp-route-id="@Model.SerialNumber" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr/>

<form asp-area="Equipment" asp-controller="Devices" asp-action="Allocate" method="post">

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group row">
            <label asp-for="SerialNumber" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="SerialNumber" class="form-control" readonly />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Make" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Make" class="form-control" readonly />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Model" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Model" class="form-control" readonly />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Description" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Description" class="form-control" readonly />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Status" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Status" class="form-control" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="StudentId" class="col-md-2">Student</label>
            <div class="col-md-3">
                <select asp-for="StudentId" asp-items="Model.StudentList" class="form-control combo">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg"/>
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}