@model Constellation.Presentation.Server.Areas.Admin.Models.Settings_UpdateViewModel

<h2>App Settings</h2>

<form asp-area="Admin" asp-controller="Settings" asp-action="Update" method="post">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Created)

    <hr />

    <div class="row mt-3 mt-5">
        <h3>Adobe Connect Integration</h3>
    </div>
    <div class="row mt-3 mt-3">
        <div class="col-md-8">
            <h4>Classroom Folder SCO-ID</h4>
            What is the SCO-ID for the folder that contains the classroom objects in Adobe Connect?
        </div>
        <div class="col-md-4">
            <input asp-for="AdobeConnectDefaultFolder" class="form-control" />
            <span asp-validation-for="AdobeConnectDefaultFolder" class="text-danger"></span>
        </div>
    </div>
    <hr />

    <div class="row mt-5">
        <h3>Sentral Integration</h3>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <h4>Contact Preference</h4>
            What is the preferred contact order for communications to parents?
        </div>
        <div class="col-md-4">
            <select asp-for="SentralContactPreference" asp-items="Model.SentralContactPreferenceList" class="form-control"></select>
            <span asp-validation-for="SentralContactPreference" class="text-danger"></span>
        </div>
    </div>
    <hr />

    <div class="row mt-5">
        <h3>Lessons Configuration</h3>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <h4>Coordinator Name</h4>
            Name of the Lessons Coordinator to be included in email signature
        </div>
        <div class="col-md-4">
            <input asp-for="LessonsCoordinatorName" class="form-control" />
            <span asp-validation-for="LessonsCoordinatorName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <h4>Coordinator Title</h4>
            Title of the Lessons Coordinator to be included in email signature
        </div>
        <div class="col-md-4">
            <input asp-for="LessonsCoordinatorTitle" class="form-control" />
            <span asp-validation-for="LessonsCoordinatorTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <h4>Coordinator Email Address</h4>
            Email address of the Lessons Coordinator for notification and logs to be sent to?
        </div>
        <div class="col-md-4">
            <input asp-for="LessonsCoordinatorEmail" class="form-control" />
            <span asp-validation-for="LessonsCoordinatorEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <h4>Head Teacher Email Address</h4>
            What email address should Lessons notification email logs be sent to?
        </div>
        <div class="col-md-4">
            <input asp-for="LessonsHeadTeacherEmail" class="form-control" />
            <span asp-validation-for="LessonsHeadTeacherEmail" class="text-danger"></span>
        </div>
    </div>
    <hr />

    <div class="row mt-5">
        <div class="col-md-4 col-md-offset-8">
            <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
        </div>
    </div>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}