.quick-links {
    width: 27%;
    margin-left: 1.5%;
    padding-left: 1.5%;
    float: right;
    border-left: 2px solid orange;
    height: 100%;
    overflow: hidden;
}

.main-content {
    width: 70%;
    float: left;
}

.page-heading {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid orange;
}

.card-title-large {
    text-align: center;
    font-size: 40pt;
}

.sortable .card-body {
    position: relative;
}