@typeparam TItem
@typeparam TKey

@using System.Linq.Expressions

<table class="table table-striped">
    <thead>
        <tr>@TableHeader</tr>
    </thead>
    <tbody>
        @foreach (var group in Items)
        {
            <tr class="group">@GroupRowTemplate(group.First())</tr>

            @foreach (var item in group)
            {
                <tr>@RowTemplate(item)</tr>
            }
        }
    </tbody>
</table>

@code {
    @namespace Constellation.Presentation.Portal.Schools.Components

    [Parameter]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public RenderFragment<TItem> GroupRowTemplate { get; set; }

    [Parameter]
    public ICollection<IGrouping<TKey, TItem>> Items { get; set; }
}
