@model Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.PartialViews.ConfirmTempReportDeleteModal.ConfirmTempReportDeleteModalViewModel

<div class="modal-header">
    <h5 class="modal-title">Delete External Report</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col">
            <span class="control-label">Are you sure you wish to delete the External Report with file name @Model.FileName? This action cannot be undone.</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a asp-page-handler="DeleteReport" asp-route-reportId="@Model.ReportId" class="btn btn-danger">Delete</a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
</div>