@page
@model Constellation.Presentation.Parents.Areas.Parents.Pages.ThirdParty.IndexModel
@{
}

<h2>Third Party Consent</h2>

<p>Aurora College is committed to providing a technology-rich environment for our students. Our school community considers the use of Information and Communications Technology (ICT) as fundamental in assisting teaching and learning in all areas of the school curriculum.</p>
<p>The school uses third-party software providers offering web-based online educational resources and cloud-based storage to support our administrative functions and enhance student learning outcomes.</p>
<p>In most instances, students are required to register before accessing the software. Registration involves either a staff member or student entering identifying information such as name, school year, and the student's school email address into the software.</p>
<p>The Department of Education has entered into contracts for a range of essential student education and administrative software. The department has assessed the privacy impacts and data security controls as compliant with the NSW privacy requirements and a list of that software in use at Aurora College is available below:</p>

<div class="row row-cols-1 row-cols-md-2 g-3">
    @foreach (var application in Model.Applications)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-title">@application.Name</h4>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Purpose</dt>
                        <dd>@application.Purpose</dd>

                        @if (!string.IsNullOrWhiteSpace(application.Link))
                        {
                            <dt>Link</dt>
                            <dd><a href="@application.Link" target="_blank">@application.Link</a></dd>
                        }
                    </dl>
                </div>
            </div>
        </div>
    }
</div>

<p class="mt-3">Additionally, Aurora College will seek parent permission to use additional third-party software as required for each individual subject. Parent consent remains effective until the student withdraws or the parent provides a new consent. Students are required to abide by the conditions of acceptable usage set out in the department's <a href="https://education.nsw.gov.au/policy-library/policies/pd-2020-0471" target="_blank">Student use of digital devices and online services (https://education.nsw.gov.au/policy-library/policies/pd-2020-0471)</a> and a breach of the policy may result in disciplinary action.</p>

@if (Model.IsResidentialParent)
{
    <a asp-page="/ThirdParty/Applications" asp-area="Parents" class="btn btn-primary mb-3">View Applications</a>
}