@model FamilyAddStudentSelection

<div class="modal fade" tabindex="-1" id="addStudentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-page="/Families/Details" asp-area="Partner" asp-route-id="@Model.FamilyId.Value" asp-page-handler="AddStudent">
                <div class="modal-header">
                    <h5 class="modal-title">Add Student to Family</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col">
                            <span class="control-label">Student</span>
                            <select asp-for="StudentId" asp-items="@(new SelectList(Model.Students, "Key", "Value"))" class="combo" style="width:100%">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <span>will be added to family <span class="font-weight-bold">@Model.FamilyName</span>.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>