@using Microsoft.JSInterop

@inject IJSRuntime JsRuntime

<div id="@elementId" style="height: 100%; width: 100%;"></div>

@code {
    readonly string elementId = $"map-{Guid.NewGuid():D}";
    
    [Parameter] public double Zoom { get; set; }
    [Parameter] public ICollection<MapLayer> Layers { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync(
            "map.showOrUpdate",
            elementId,
            Layers);
    }
}