@model Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.PartialViews.UpdateRoleNoteModal.UpdateRoleNoteModalViewModel

<form asp-page-handler="UpdateNote" method="post">
    <div class="modal-header">
        <h5 class="modal-title">Update Note</h5>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3">Note</label>
            <div class="col-md-9">
                @Html.HiddenFor(model => model.ContactId)
                @Html.HiddenFor(model => model.RoleId)
                <textarea asp-for="Note" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Update Note</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
    </div>
</form>
