@using Constellation.Application.Models.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Constellation Lessons</title>
    
    <link rel="icon" type="image/svg" href="~/logo.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-theme-bootstrap4/dist/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/glyphicon.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
            @{
                var loggedIn = User.Identity.IsAuthenticated;
                var isAdmin = (User.IsInRole(AuthRoles.LessonsEditor) || User.IsInRole(AuthRoles.Admin));
            }
            <div class="container">
                <a class="navbar-brand" asp-area="Portal" asp-controller="Lessons" asp-action="Index"><img src="~/logo.svg" class="nav-bar-logo d-inline-block align-middle" />Constellation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (isAdmin)
                    {
                        <ul class="navbar-nav">
                            <li><a asp-action="AdminLessons" asp-controller="Lessons" asp-area="Portal" class="nav-link">Lessons</a></li>
                            <li><a asp-action="AdminTeachers" asp-controller="Lessons" asp-area="Portal" class="nav-link">Teachers</a></li>
                        </ul>
                    }

                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="nav-item dropdown">
                            <a href="#" id="nav-user-dropdown" class="nav-link glyphicon-dropdown" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-user glyphicon-dropdown"></i></a>
                            <div class="dropdown-menu">
                                @if (loggedIn)
                                {
                                    <a asp-page="/Logout" asp-area="Admin" class="dropdown-item">Log Out</a>
                                }
                                else
                                {
                                    <a asp-page="/Login" asp-area="Admin" asp-route-returnUrl="/Portal/Lessons" class="dropdown-item">Log In</a>
                                }

                                @if (isAdmin)
                                {
                                    <div class="dropdown-divider"></div>
                                    <a asp-area="" asp-page="/Index" class="dropdown-item">Main Site</a>
                                    <a asp-action="AdminLessons" asp-controller="Lessons" asp-area="Portal" class="dropdown-item">Admin Portal</a>
                                }
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.11.3/sorting/datetime-moment.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>