@using Constellation.Presentation.Server.Areas.Portal.Models.Lessons
@model AdminUpsertLessonViewModel

<h2>Science Practical Lessons</h2>

<div class="row">
    <a asp-action="AdminLessons" asp-controller="Lessons" asp-area="Portal" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr />

<form asp-action="AdminUpsertLesson" asp-controller="Lessons" asp-area="Portal" method="post">
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Lesson.Id)

        <div class="form-group row">
            <label asp-for="Lesson.Name" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Lesson.Name" class="form-control" />
                <span asp-validation-for="Lesson.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Lesson.DueDate" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Lesson.DueDate" class="form-control" />
                <span asp-validation-for="Lesson.DueDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Lesson.CourseId" class="col-md-2"></label>
            <div class="col-md-3">
                <select asp-for="Lesson.CourseId" asp-items="@Model.CourseList" class="form-control">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="Lesson.CourseId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Lesson.DoNotGenerateRolls" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Lesson.DoNotGenerateRolls" class="form-control" />
                <span asp-validation-for="Lesson.DoNotGenerateRolls" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>