@using Constellation.Presentation.Server.Areas.Portal.Models.Lessons
@model ErrorViewModel

<h2>Error!</h2>

<h3>@Model.MainMessage</h3>
                
@if (Model.SecondaryMessages.Any())
{
    <ul>
        @foreach (var message in Model.SecondaryMessages){
            <li>@message</li>
        }
    </ul>
}
