@page
@model Constellation.Presentation.Server.Areas.Admin.Pages.Auth.InfoModel

<h2>Current User Service</h2>
<dl>
    <dt>UserName</dt>
    <dd>@Model.CurrentUserServiceName</dd>
</dl>

<h2>Claims</h2>
<dl>
    @foreach (var claim in Model.Claims){
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Roles</h2>
<ul>
    @foreach (var role in Model.Roles){
        <li>@role</li>
    }
</ul>