@page
@model Constellation.Presentation.Server.Areas.Admin.Pages.Auth.RolesModel

<h2>Manage Application Roles</h2>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
    <tr>
        <th>Role</th>
        <th>Users</th>
        <th></th>
    </tr>
    </thead>
    @foreach (var role in Model.Roles)
    {
        <tr>
            <td>@role.RoleName</td>
            <td>
                @foreach (var user in role.Members)
                {
                    <span class="badge badge-primary">@user.DisplayName</span>
                }
            </td>
            <td>
                <a asp-page="RolesEdit" asp-area="Admin" asp-route-id="@role.RoleId" class="btn btn-sm btn-primary btn-show-hover">Edit Membership</a>
            </td>
        </tr>
    }
</table>