@page "{SelectedUserType}"
@model Constellation.Presentation.Server.Areas.Admin.Pages.Auth.UsersModel

<h3>Users</h3>

<div class="page-menu">
    <a asp-page="/Auth/Index" asp-area="Admin" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users.OrderBy(user => user.LastName).ThenBy(user => user.FirstName))
        {
            <tr>
                <td>@user.DisplayName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-page="Info" asp-route-emailAddress="@user.Email" class="btn btn-sm btn-primary btn-show-hover">More Info...</a>
                </td>
            </tr>
        }
    </tbody>
</table>