@model DeleteTrainingRoleModalViewModel

<div class="modal-header">
    <h5 class="modal-title">Delete Role</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col">
            <span class="control-label">Are you sure you wish to remove the role @Model.RoleName</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a asp-page="/Training/Roles/Index" asp-area="SchoolAdmin" asp-page-handler="Delete" asp-route-id="@Model.RoleId.Value" id="roleDeleteButton" class="btn btn-danger">Delete Role</a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
</div>