@model Constellation.Infrastructure.Templates.Views.Emails.ThirdParty.TransactionReceiptParentEmailViewModel

@{
    Layout = "/Views/Shared/EmailLayout.cshtml";

    ViewData["Preheader"] = Model.Preheader;
    ViewData["Title"] = Model.Title;
    ViewData["SenderName"] = Model.SenderName;
    ViewData["SenderTitle"] = Model.SenderTitle;
}

<p>Please find attached the Transaction Receipt for the third-party software consent responses you provided for @Model.StudentName on @Model.SubmittedOn.ToLongDateString().</p>
<p>If you have any questions or this document appears to be incorrect, please contact our office on 1300 287 629 or at <a href="mailto:auroracoll-h.school@det.nsw.edu.au">auroracoll-h.school@det.nsw.edu.au</a></p>