h4 {
    float: left;
    width: 100%;
}

.icon-box {
    aspect-ratio: 1 / 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box i {
    line-height: 1;
    font-size: 1.5rem;
}