@page

@model Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.WorkFlows.Reports.IndexModel

@{
}

<h2>Reports</h2>

<a asp-page="/WorkFlows/Reports/Attendance" asp-area="SchoolAdmin" class="btn btn-secondary">Attendance Percentage Report</a>

<a asp-page-handler="DownloadReport" class="btn btn-secondary">Outstanding Case Report</a>
