<div class="modal-header">
    <h5 class="modal-title">Deallocate Asset</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col">
            <span class="control-label">Are you sure you wish to remove the current Asset allocation?</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a asp-page-handler="Deallocate" class="btn btn-danger">Deallocate</a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Cancel</button>
</div>