@page "/Help"

@attribute [Authorize]

<h1>Aurora College Schools Portal</h1>

<p>The Schools Portal allows staff in Aurora College Partner Schools to access information about our shared enrolments. Here you will be able to find attendance and absence information, academic reports, and more.</p>
<p>For a tour of the Portal, please watch the video below.</p>

<video></video>

<p>If you have any issues, please report them to the Aurora College IT Support Team at <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a> or on <a href="tel:1300610733">1300 610 733</a>.</p>

@code{
    
}