@using Constellation.Presentation.Server.BaseModels
@model BaseViewModel

<h2>Student Reports</h2>

<hr />

<div class="row">
    <h3>Attendance</h3>
</div>

<div class="row margin-top-5">
    <div class="col-md-8">
        <h4>FTE Breakdown</h4>
        View total Full Time Equivalent figures by grade
    </div>
    <div class="col-md-4">
        <a asp-action="FTEBreakdown" asp-controller="Students" asp-area="Reports" class="btn btn-secondary">Go</a>
    </div>
</div>

<div class="row margin-top-5">
    <div class="col-md-8">
        <h4>PTO Interviews Setup</h4>
        Create a file to import into PTO and set up Parent Interviews
    </div>
    <div class="col-md-4">
        <a asp-action="InterviewDetails" asp-controller="Students" asp-area="Reports" class="btn btn-secondary">Go</a>
    </div>
</div>

<hr />