
<div class="modal-header">
    <h5 class="modal-title">Bulk Delete Records</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col">
            <span class="control-label">Are you sure you wish to delete all Assessment Provision records? You can reimport new records using Step 1.</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a asp-page-handler="BulkDelete" class="btn btn-success show-loader">Bulk Delete</a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Cancel</button>
</div>