@using Constellation.Infrastructure.Templates.Views.Emails.Contacts
@model NewSciencePracTeacherEmailViewModel

@{
    Layout = "/Views/Shared/EmailLayout.cshtml";

    ViewData["Preheader"] = Model.Preheader;
    ViewData["Title"] = Model.Title;
    ViewData["SenderName"] = Model.SenderName;
    ViewData["SenderTitle"] = Model.SenderTitle;
}

<p>Welcome to Aurora College!</p>

<p>As a Science Prac Teacher, you will be helping to deliver exciting Science lessons to students shared between @Model.PartnerSchool and Aurora College.</p>
<p>If you have not already done so, please read the Resources for Partner Schools documents on our website at <a href="https://aurora.schools.nsw.gov.au/partner-schools/resources-for-partner-schools.html" target="_blank">https://aurora.schools.nsw.gov.au/partner-schools/resources-for-partner-schools.html</a></p>

<p>You have been automatically added to some of our systems to help with your work:</p>
    
<ul>
    <li>Our Partner Schools team, which includes a channel for Science Prac Teachers from all our Partner Schools to chat and share tips. You will also be able to find a copy of the Practical Handbook here.</li>
    <li>Our Schools Portal site (available at <a href="https://acos.aurora.nsw.edu.au/Schools/" target="_blank">https://acos.aurora.nsw.edu.au/Schools/</a>), which allows you to submit the class rolls for the lessons you deliver.</li>
</ul>

<p>Please remember that it is compulsory to submit the roll for each Science practical lesson once it has been delivered. This can be done via the Schools Portal (link above). If you need assistance, please reach out and we will be glad to help.</p>

<p>If you have any questions, please feel free to contact our staff below:
    <ul>
        <li>Fiona Boneham, Science Practical Coordinator, <a href="mailto:fiona.boneham@det.nsw.edu.au">fiona.boneham@det.nsw.edu.au</a></li>
        <li>Silvia Rudmann, R/Head Teacher Science and Agriculture, <a href="mailto:silvia.rudmann@det.nsw.edu.au">silvia.rudmann@det.nsw.edu.au</a></li>
        <li>Technology Support Team, 1300 610 733 or <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a></li>
        <li>Office Administration Team, 1300 287 629 or <a href="mailto:auroracoll-h.school@det.nsw.edu.au">auroracoll-h.school@det.nsw.edu.au</a></li>
    </ul>
</p>