@model Constellation.Presentation.Server.Areas.Subject.Models.Assignments.IndexViewModel

<h2>Canvas Assignments</h2>

<a asp-area="Subject" asp-controller="Assignments" asp-action="Create_Step1" class="btn btn-primary">Create New</a>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
    <tr>
        <th></th>
        <th>Class Name</th>
        <th>Assignment Name</th>
        <th>DueDate</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignments)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.CourseDisplayName)</td>
                <td>@Html.DisplayFor(model => item.Name)</td>
                <td>@Html.DisplayFor(model => item.DueDate, "ShortDate")</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>