<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aurora College</title>

    <link rel="icon" type="image/svg" href="~/logo.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet.awesome-markers/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/glyphicon.css" />
    <link rel="stylesheet" href="~/private/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Constellation.Presentation.Server.styles.css" />
    
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap4/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/leaflet/leaflet.min.js"></script>
    <script src="~/lib/leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>
</head>
<body>
    <div id="main-container" class="container-fluid">
        <div>
            @RenderBody()
        </div>
    </div>
    
    <script src="~/js/maps.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>