.period-inactive {
    background-color: azure;
}

.period-active {
    background-color: darkseagreen;
    font-weight: bold;
}

.period-break {
    background-color: lightyellow;
}

.period-other {
    background-color: lightgray;
}