<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Constellation Monitor</title>
    <link rel="icon" type="image/svg" href="~/logo.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/glyphicon.css" />
    <link rel="stylesheet" href="~/css/Monitor.css" />

</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap4/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 