@page
@model LoginModel

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-offset-3 col-md-6">
        @if (Model.Status == LoginModel.LoginStatus.InvalidUsername)
        {
            <span class="text-danger">Check your email address!</span>
        }

        @if (Model.Status == LoginModel.LoginStatus.TokenInvalid)
        {
            <span class="text-danger">Token is not valid! Try again!</span>
        }

        @if (Model.Status == LoginModel.LoginStatus.WaitingUserInput || 
            Model.Status == LoginModel.LoginStatus.InvalidUsername ||
            Model.Status == LoginModel.LoginStatus.TokenInvalid) {
            <section>
                <form id="account" method="post">
                    <h2>Login with a magic link</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        A magic link is a direct login link sent to your email account. Enter your registered email address below, and we will send you a link that is valid for 10 minutes only.
                    </div>

                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Send me my link</button>
                    </div>
                </form>
            </section>
        }

        @if (Model.Status == LoginModel.LoginStatus.EmailSent){
            <p>Check your messages!</p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
