@model Constellation.Presentation.Server.Areas.Admin.Models.AdobeConnect.ActionsViewModel

<h2>Adobe Connect Actions - Room Scan</h2>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th>SCO-ID</th>
            <th>Name</th>
            <th>Link</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rooms)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.ScoId)</td>
                <td>@Html.DisplayFor(model => item.Name)</td>
                <td>@Html.DisplayFor(model => item.UrlPath, "WebLink")</td>
                <td>@Html.DisplayFor(model => item.Action)</td>
            </tr>
        }
    </tbody>
</table>
