@page "/"
@attribute [Authorize]
@inject HttpClient Http;

<h1>Aurora College Schools Portal</h1>

@foreach (var group in Students.GroupBy(student => student.CurrentGrade))
{
    var yearTitle = $"Year {(int)group.Key}";

    <TitleDivider Title="@yearTitle" />

    <div class="flex-row">
        @foreach (var student in group)
        {
            <StudentCard Student="student" />
        }
    </div>
}

@code{
    [CascadingParameter]
    public SchoolDto SelectedSchool { get; set; }
    public SchoolDto CurrentlySelectedSchool { get; set; }

    public List<StudentDto> Students { get; set; } = new List<StudentDto>();

    protected override async Task OnParametersSetAsync()
    {
        if (SelectedSchool != null && SelectedSchool != CurrentlySelectedSchool)
        {
            CurrentlySelectedSchool = SelectedSchool;

            var students = await Http.GetFromJsonAsync<List<StudentDto>>($"api/Students/FromSchool/{SelectedSchool.Code}");
            Students = students.OrderBy(student => student.CurrentGrade).ThenBy(student => student.LastName).ThenBy(student => student.FirstName).ToList();    
        }
    }
}