@model Constellation.Presentation.Server.Areas.Admin.Models.Actions_ProcessViewModel

<h2>Adobe Connect Operation Outcome</h2>

<pre>
@foreach (var s in Model.Statuses)
{
    @String.Format($"{s}{Environment.NewLine}");
}
</pre>


@Html.ActionLink("Back to Operation list", "Index", "Actions", new { @area = "Admin"}, new { @class="btn btn-default"})