@model Constellation.Presentation.Schools.Areas.Schools.Pages.Shared.Components.SchoolSelector.SchoolSelectorViewModel

<span>School: @Model.CurrentSchool?.Name</span>

@if (Model.ValidSchools.Count > 1)
{
    <button class="btn btn-secondary btn-sm ms-4" data-bs-toggle="modal" data-bs-target="#school-selector-modal">Change School</button>
}
