@using Constellation.Application.Schools.GetSchoolsForContact
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Shared.Components.SchoolSelector.SchoolSelectorViewModel

<span>School: @Model.CurrentSchool?.Name</span> <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#school-selector-modal">Change School</button>

<form asp-page-handler="ChangeSchool">
    <div class="modal fade" tabindex="-1" id="school-selector-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Active School</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <select asp-for="NewSchoolCode" asp-items="new SelectList(Model.ValidSchools, nameof(SchoolResponse.SchoolCode), nameof(SchoolResponse.Name), Model.ValidSchools.FirstOrDefault(entry => entry.SchoolCode == Model.CurrentSchool.SchoolCode))" class="form-select"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Change School</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
