@model RemoveStaffMemberFromTrainingRoleModalViewModel

<div class="modal-header">
    <h5 class="modal-title">Remove Member</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col">
            <span class="control-label">Are you sure you wish to remove @Model.StaffName from the Training Role @Model.RoleName?</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a asp-page-handler="RemoveStaff" asp-page="/SchoolAdmin/Training/Roles/Details" asp-area="Staff" asp-route-id="@Model.RoleId.Value" asp-route-staffId="@Model.StaffId" class="btn btn-danger">Remove Staff Member</a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
</div>