@model Constellation.Presentation.Shared.Pages.Shared.Components.AddSessionToOffering.AddSessionToOfferingSelection

<div class="modal fade" id="addSession">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-page="/Offerings/Details" asp-area="Subject" asp-route-id="@Model.OfferingId.Value" asp-page-handler="AddSession">
                <div class="modal-header">
                    <h5 class="modal-title">Add Session to Offering</h5>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="form-group col">
                                <span class="control-label">Period</span>
                                <select asp-for="PeriodId" asp-items="@Model.Periods" class="form-control">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                    <div class="row">
                        <div class="form-group col">
                            <span>will be added to <span clas="font-weight-bold">@Model.CourseName</span> offering <span class="font-weight-bold">@Model.OfferingName</span></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>