@page
@model Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.Absences.SettingsModel

<h2>Student Absence Configuration</h2>

<hr />

<form method="post">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <label asp-for="StudentId" class="col-md-2">Student</label>
            <div class="col-md-3">
                <select asp-for="StudentId" asp-items="@Model.Students" class="form-control combo">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="SchoolCode" class="col-md-2">School</label>
            <div class="col-md-3">
                <select asp-for="SchoolCode" asp-items="@Model.Schools" class="form-control combo">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="SchoolCode" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Grade" class="col-md-2"></label>
            <div class="col-md-3">
                <select asp-for="Grade" asp-items="@Model.Grades" class="form-control combo">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="text-danger" id="selection-display"><span></span></label>
        </div>

        <div class="form-group row">
            <label asp-for="Type" class="col-md-2">Absence Type</label>
            <div class="col-md-3">
                <select asp-for="Type" class="form-control combo">
                    <option value="Partial">Partial Absences</option>
                    <option value="Whole">Whole Absences</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="StartDate" class="col-md-2">Starts From</label>
            <div class="col-md-3">
                <input type="date" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="EndDate" class="col-md-2">Ends At</label>
            <div class="col-md-3">
                <input type="date" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document)
            .ready(function () {
                $('.combo').on('select2:select', function (e) {
                    updateDescriptionText();
                })

                $('.combo').on('select2:unselect', function (e) {
                    updateDescriptionText();
                })
            });

        function updateDescriptionText() {
            //Get currently selected student
            var studentOption = $('select#StudentId>option:selected');
            //Get currently selected school
            var schoolOption = $('select#SchoolCode>option:selected');
            //Get currently selected grade
            var gradeOption = $('select#Grade>option:selected');

            var label = 'All students';

            if (studentOption.val() == '') {
                var student = null;
            } else {
                var student = studentOption.text();
            }

            if (schoolOption.val() == '') {
                var school = null;
            } else {
                var school = schoolOption.text();
            }

            if (gradeOption.val() == '') {
                var grade = null;
            } else {
                var grade = gradeOption.text();
            }

            if (student == null && school != null) {
                label += ' at ' + school;
            } else if (student != null) {
                label = 'Student ' + student;
            }

            if (student == null && grade != null) {
                label += ' in ' + grade
            }

            label += ' selected!'

            //update text
            var text = $('<span>').html(label);
            $('#selection-display span').replaceWith(text);
        }
    </script>
}