@model Constellation.Presentation.Shared.Pages.Shared.Components.StaffNavBar.StaffNavBarViewModel
@using Constellation.Application.Models.Auth

@{
    var loggedIn = User.Identity!.IsAuthenticated;
    var isAdmin = User.IsInRole(AuthRoles.Admin);
}

<nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-dark bg-dark box-shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" asp-page="/Index" asp-area=""><img src="~/logo.svg" class="nav-bar-logo d-inline-block align-middle" />Constellation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Partners <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Contacts/Index">Contacts</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Schools/Index">Schools</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Schools/Contacts/Index">School Contacts</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Staff/Index">Staff</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Staff/Faculties/Index">Faculties</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Students/Index">Students</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Students/Families/Index">Families</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Subjects <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/Courses/Index">Courses</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/Offerings/Index">Classes</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/Assignments/Index">Assignments</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/Periods/Index">Periods</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/SciencePracs/Lessons/Index">Science Pracs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/GroupTutorials/Tutorials/Index">Tutorials</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Class Covers <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Staff" asp-page="/ShortTerm/Casuals/Index">Casuals</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/ShortTerm/Covers/Index">Covers</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">School Admin <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/Absences/List">Absences</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/Awards/Index">Awards</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/Compliance/Attendance/Index">Compliance</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/Training/Completion/Index">Mandatory Training</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/Consent/Applications/Index">Third Party Consent</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/WorkFlows/Index">WorkFlows</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Equipment <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Equipment/Assets/Index">Assets</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Equipment/Stocktake/Index">Stocktake</a>
                    </div>
                </li>
                
                @if (Model.CanAccessSchoolPortal || Model.CanAccessParentPortal)
                {
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Portals <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            @if (Model.CanAccessSchoolPortal)
                            {
                                <a class="dropdown-item" asp-area="Schools" asp-page="/Dashboard">Schools Portal</a>
                            }
                            @if (Model.CanAccessParentPortal)
                            {
                                <a class="dropdown-item" asp-area="Parents" asp-page="/Dashboard">Parents Portal</a>
                            }
                        </div>
                    </li>
                }
                
                @if (isAdmin)
                {
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="Admin" asp-page="/Auth/Index">Auth Dashboard</a>
                            <a class="dropdown-item" asp-area="Admin" asp-page="/Rollover/Index">Annual Rollover</a>
                        </div>
                    </li>
                }

            </ul>

            <ul class="navbar-nav navbar-right">
                @if (Model.Classes.Count > 0)
                {
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Classes <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            @foreach (var entry in Model.Classes.OrderBy(x => x.Key))
                            {
                                <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/Offerings/Details" asp-route-id="@entry.Value.Value">@entry.Key</a>
                            }
                        </div>
                    </li>
                }

                @if (loggedIn)
                {
                    <a class="btn btn-sm btn-warning ml-4" asp-area="Admin" asp-page="/Logout">Log Out</a>
                }
                else
                {
                    <a class="btn btn-sm btn-success" asp-area="Admin" asp-page="/Login">Log In</a>
                }
            </ul>
        </div>
    </div>
</nav>