@using Constellation.Application.Features.Partners.SchoolContacts.Models
@inject NavigationManager navigationManager

<div class="card m-3">
    <img class="card-img-top" src="@PhotoUrl" @onerror="HandleError">
    <div class="card-body">
        <h5 class="card-title">@Contact.FirstName @Contact.LastName</h5>
        <p class="card-text">@Contact.EmailAddress</p>
    </div>
</div>

@code {
    @namespace Constellation.Presentation.Portal.Schools.Components

    [Parameter]
    public ContactWithRoleForList Contact { get; set; }
    public Uri PhotoUrl { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        PhotoUrl = new Uri($"https://aus.delve.office.com/mt/v3/people/profileimage?userId={Contact.EmailAddress}&size=L");
    }

    void HandleError(ErrorEventArgs args)
    {
        var photoUri = $"{navigationManager.BaseUri}/images/silhouette.png";

        PhotoUrl = new Uri(photoUri);
    }
}
