@page
@model Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.Awards.Nominations.IndexModel

@inject IAuthorizationService authService;

@{
    AuthorizationResult canManageTest = await authService.AuthorizeAsync(User, AuthPolicies.CanManageAwards);
}

<h2>Nomination Periods</h2>

<div class="page-menu">
    @if (canManageTest.Succeeded)
    {
        <a asp-page="Upsert" asp-area="SchoolAdmin" class="btn btn-primary">Create</a>
    }
</div>

<hr />

<table class="table table-striped table-hover data-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Active To</th>
            <th>Included Grades</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Periods)
        {
            <tr>
                <td>@row.Name</td>
                <td>@row.LockoutDate</td>
                <td>
                    @String.Join(", ", row.IncludedGrades.Select(grade => grade.AsName()).ToList())
                </td>
                <td>
                    <a asp-page="Details" asp-area="SchoolAdmin" asp-route-periodId="@row.PeriodId.ToString()" class="btn btn-sm btn-show-hover btn-secondary">More Info...</a>
                </td>
            </tr>
        }
    </tbody>
</table>