@page
@model Constellation.Presentation.Server.Areas.Subject.Pages.SciencePracs.Reports.IndexModel

<h2>Science Prac Reports</h2>

<div class="page-menu">
    <a asp-page-handler="DownloadReport" class="btn btn-warning">Download Report</a>
</div>

<hr />

<table>

</table>