@page
@model Constellation.Presentation.Server.Areas.Subject.Pages.Assignments.IndexModel

<h2>Canvas Assignments</h2>

<a asp-area="Subject" asp-controller="Assignments" asp-action="Create_Step1" class="btn btn-primary">Create New</a>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th>Class Name</th>
            <th>Assignment Name</th>
            <th>DueDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignments)
        {
            <tr>
                <td>@item.CourseName</td>
                <td>@item.AssignmentName</td>
                <td>@item.DueDate.ToShortDateString()</td>
                <td>
                    <a asp-page="/Assignments/Details" asp-area="Subject" asp-route-id="@item.AssignmentId.Value" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
                </td>
            </tr>
        }
    </tbody>
</table>