@page
@using System.Reflection

@model Constellation.Presentation.Server.Pages.ChangeLogModel

@{
    var file = Assembly.GetExecutingAssembly().Location;
    var lastWriteTime = System.IO.File.GetLastWriteTime(file);
    var version = $"{lastWriteTime:yyMM.d}";
}

<style>
   .changelog ul li {
       font-size: 1.3rem;
       font-weight: bolder;
   }

   .changelog ul li ul li {
       font-size: 1.15rem;
       font-weight: bold;
   }

   .changelog ul li ul li ul li {
       font-size: 1rem;
       font-weight: normal;
   }
</style>

<h1>Constellation Changelog</h1>

<h3>Current version: Release V1.16.0 (Build @version)</h3>

<div class="changelog">
    <ul>
        <li>System-wide
            <ul>
                <li>Authentication
                    <ul>
                        <li>Add authentication support for student users</li>
                    </ul>
                </li>
                <li>Students
                    <ul>
                        <li>Update Student model to new aggregate style including new ID property</li>
                        <li>Allow for students to be entered without SRN or Email Address</li>
                        <li>Allow students to not have active grades or schools</li>
                        <li>Move student photos storage to Attachments models</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Automation
            <ul>
                <li>Attendance Notifications
                    <ul>
                        <li>Update SMS template to parents to use new static short link instead of url shortener</li>
                    </ul>
                </li>
                <li>External Connections
                    <ul>
                        <li>Update SchoolRegisterJob to use new data.nsw sources and file layouts</li>
                        <li>Update AttachmentManagementJob to remove expired attachments as required</li>
                        <li>Update filtering options on CanvasGateway to ensure that all current courses are returned</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Staff Portal
            <ul>
                <li>Dashboard
                    <ul>
                        <li>Update dashboard widgets to have sticky positioning</li>
                        <li>Update Auth dashboard to include student users</li>
                    </ul>
                </li>
                <li>Award Nominations
                    <ul>
                        <li>Update to reject duplicate nominations as they are entered</li>
                        <li>Expand reporting options for award nominations, including grouping options by school, by student, and by subject</li>
                    </ul>
                </li>
                <li>Assignments
                    <ul>
                        <li>Assignments list now include future assignments</li>
                    </ul>
                </li>
                <li>Science Pracs
                    <ul>
                        <li>Update to allow for bulk cancel of Rolls</li>
                        <li>Allow addition of custom comments when cancelling Rolls</li>
                        <li>Add report for Rolls submitted without students marked present</li>
                    </ul>
                </li>
                <li>Workflows
                    <ul>
                        <li>Include a "For Me" filter to show only currently assigned cases for Head Teachers</li>
                        <li>Fix a bug where Compliance cases could be mistakenly detected as Attendance cases</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Schools Portal
            <ul>
                <li>Dashboard
                    <ul>
                        <li>Fix bug preventing student photos from being displayed properly</li>
                    </ul>
                </li>
                <li>Attendance
                    <ul>
                        <li>Update Attendance Report button to actually generate report</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Students Portal
            <ul>
                <li>Attendance
                    <ul>
                        <li>Add attendance section where students can view all attendance data</li>
                        <li>Add ability for students to submit explanations for Partial Absences</li>
                    </ul>
                </li>
                <li>Awards
                    <ul>
                        <li>Add awards section where students can view award tallies and recent awards</li>
                    </ul>
                </li>
                <li>Support
                    <ul>
                        <li>Add support section outlining where to obtain help from the school</li>
                        <li>Add submission form for Technology Support team that is routed to the helpdesk</li>
                    </ul>
                </li>
                <li>Timetables
                    <ul>
                        <li>Add ability for students to view and download timetables</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.15.1 (Build 2409.25)</h3>

<div class="changelog">
    <ul>
        <li>System-wide
            <ul>
                <li>Authentication
                    <ul>
                        <li>Updated login page to handle all three user types: Staff, Partner School Staff, and Parents</li>
                        <li>Include extensibility options for students</li>
                        <li>Modify flow to ask for email address first, then determine next steps based on detected user</li>
                        <li>Include extensibility options for SSO</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>Layout
                    <ul>
                        <li>Updated name to Constellation Staff Portal</li>
                        <li>Added sidebar navigation links to all pages</li>
                        <li>Added /Staff url segment to separate pages from other sections</li>
                    </ul>
                </li>
                <li>Compliance section
                    <ul>
                        <li>Updated N-Award compliance scan to retrieve full incident type (e.g. 4th Warning)</li>
                    </ul>
                </li>
                <li>Mandatory Training section
                    <ul>
                        <li>Removed Roles</li>
                        <li>Added ability to link staff directly with Modules</li>
                    </ul>
                </li>
                <li>WorkFlows section
                    <ul>
                        <li>Added a Compliance case type for N-Award and LoC tracking</li>
                        <li>Added SentralComplianceScanJob to check for overdue N-Award and LoC incidents</li>
                        <li>Added SentralIncidentStatusAction to request update of attached Incident</li>
                        <li>Added a Training case type for Mandatory Training tracking</li>
                        <li>Updated the MandatoryTrainingScanJob to create WorkFlow cases instead of sending emails</li>
                        <li>Added UploadTrainingCertificateAction to request files be uploaded to Constellation</li>
                    </ul>
                </li>
                <li>Assets section
                    <ul>
                        <li>Added new Assets section to track all school assets</li>
                        <li>Moved old Devices data to read-only archive section</li>
                        <li>Fixed bug in the Assets export file where the autofilter was not being applied to the last column</li>
                        <li>Fixed bug in the Allocation view where Community allocated items would throw an error</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Schools Portal
            <ul>
                <li>System-wide
                    <ul>
                        <li>Converted project to Razor Pages in preparation for SSO integration</li>
                        <li>Updated loading spinner</li>
                    </ul>
                </li>
                <li>Science Rolls section
                    <ul>
                        <li>Fixed a bug that prevented users from editing Science Rolls that had already been submitted</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Parent Portal
            <ul>
                <li>System-wide
                    <ul>
                        <li>Converted project to Razor Pages in preparation for SSO integration</li>
                        <li>Updated loading spinner</li>
                    </ul>
                </li>
                <li>Absences section
                    <ul>
                        <li>Provided non-residential parents the opportunity to supply an explanation for whole absences. The explanation is not registered immediately, but sent to the school admin office for manual checking and entry</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.14.4 (Build 2406.20)</h3>

<div class="changelog">
    <ul>
        <li>Constellation Web
            <ul>
                <li>Absences section
                    <ul>
                        <li>Fix bug that prevented the SentAt field from being populated for Absence Notifications</li>
                    </ul>
                </li>
                <li>Class Covers section
                    <ul>
                        <li>Removed list of outstanding Adobe Connect operations</li>
                    </ul>
                </li>
                <li>Contacts section
                    <ul>
                        <li>Include the School details in the Export file</li>
                    </ul>
                </li>
                <li>Group Tutorials section
                    <ul>
                        <li>Updated export file to include a legend of the colours and symbols used in the list</li>
                    </ul>
                </li>
                <li>Mandatory Training section
                    <ul>
                        <li>Update Training area to include Roles</li>
                        <li>Add master/overall details export for Training area</li>
                    </ul>
                </li>
                <li>School Contacts section
                    <ul>
                        <li>Refactor School Contacts and Roles to aggregate design pattern</li>
                        <li>Enable domain events to track and process changes in School Contact entities</li>
                        <li>Add ability to include a note when assigning a role to a School Contact</li>
                        <li>Create Report export for Partner Schools with all related Contacts</li>
                    </ul>
                </li>
                <li>Science Pracs section
                    <ul>
                        <li>Add Reports pages to filter rolls by school or student</li>
                        <li>Add Overdue Report which allows staff to download an Excel file with all outstanding/overdue rolls</li>
                    </ul>
                </li>
                <li>Third Party Consent section
                    <ul>
                        <li>Added Third Party Consent section</li>
                        <li>Added ability to add applications</li>
                        <li>Added ability to disable applications from active list</li>
                        <li>Added ability for school administration staff to manually add consent responses from parents</li>
                        <li>Added report for listing consent status by class, grade, and school</li>
                    </ul>
                </li>
                <li>WorkFlows section
                    <ul>
                        <li>Added WorkFlow section</li>
                        <li>Added Attendance Case details</li>
                        <li>Added Actions for Send Email, Create Sentral Entry, Confirm Sentral Entry, Phone Parent, Parent Intervew, and Update Case</li>
                        <li>Added Report export for open existing Cases</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Update Family Details Sync job to remove any orphaned Families during a scan</li>
                        <li>Fixed a bug in the Family Details Sync job that reported a family email address changed when it had not</li>
                    </ul>
                </li>
                <li>Canvas Gateway
                    <ul>
                        <li>Add ability to audit Course access and normalise based on computed access list</li>
                        <li>Add ability to create and manage Course Groups</li>
                        <li>Add ability to create and manage Course Sections</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Parents Portal
            <ul>
                <li>System-wide
                    <ul>
                        <li>Provide status feedback to users when an action fails for any reason</li>
                    </ul>
                </li>
                <li>Absences section
                    <ul>
                        <li>Fixed a bug that did not show validation errors to users when attempting to explain an absence</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Schools Portal
            <ul>
                <li>System-wide
                    <ul>
                        <li>Provide status feedback to users when an action fails for any reason</li>
                    </ul>
                </li>
                <li>Science Pracs section
                    <ul>
                        <li>Update roll submission to prevent users from setting a future date for the roll</li>
                        <li>Update roll submission to require a comment if none of the students are present</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.13 (Build 2312.01)</h3>

<div class="changelog">
    <ul>
        <li>Constellation Web
            <ul>
                <li>School Admin section
                    <ul>
                        <li>Add new Compliance area</li>
                        <li>Add Attendance statistics tracking to Compliance area</li>
                        <li>Add report export for Attendance statistics used by Executive staff</li>
                        <li>Add Wellbeing Incident status tracking to Compliance area</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.12 (Build 2311.14)</h3>

<div class="changelog">
    <ul>
        <li>Constellation Web
            <ul>
                <li>Subjects section
                    <ul>
                        <li>Refactor Course, and Offering models to use Aggregate design pattern</li>
                        <li>Consolidate Subject pages into new layout</li>
                        <li>Update Assignments to prevent automatic upload to Canvas by default</li>
                        <li>Create daily scan for Assignment Submissions to upload to Canvas</li>
                        <li>Provide option for teachers to download latest submission for each student in bulk</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Schools Portal
            <ul>
                <li>Exam Uploads
                    <ul>
                        <li>Provide feedback to users when the file selected for upload is too large</li>
                        <li>Provide feedback to users when the file failed to upload successfully</li>
                        <li>Provide an upload receipt to users via email when a file has been successfully uploaded</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.11 (Build 2309.12)</h3>

<div class="changelog">
    <ul>
        <li>Parents Portal
            <ul>
                <li>Contacts section
                    <ul>
                        <li>Updated Contacts section to include current Counsellors details</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>Absences section
                    <ul>
                        <li>Refactor Absences models to use Aggregate design pattern</li>
                        <li>Allow enabling and disabling Absence scanning per type per student</li>
                        <li>Remove missed work section</li>
                    </ul>
                </li>
                <li>Science Pracs section
                    <ul>
                        <li>Refactor Science Prac models to use Aggregate design pattern</li>
                        <li>Consolidate coordinator pages for Science Pracs into School Admin area</li>
                        <li>Update Lesson reminder emails to escalate based on number of previous emails sent rather than how overdue the roll is</li>
                    </ul>
                </li>
                <li>Awards section
                    <ul>
                        <li>Add button to allow Awards administrator to force resync of awards data from Sentral</li>
                        <li>Add award nomination section for special end-of-year awards</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Update the Roll Marking Report job to ignore teacher where multiple are included in the scan, and instead pull the teacher from the database</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.10 (Build 2307.20)</h3>

<div class="changelog">
    <ul>
        <li>Parents Portal
            <ul>
                <li>Awards section
                    <ul>
                        <li>Some awards now include details on which teacher issued the award, and why it was awarded.</li>
                        <li>Some awards now include the option to download a copy of the certificate.</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Schools Portal
            <ul>
                <li>Awards section
                    <ul>
                        <li>Some awards now include details on which teacher issued the award, and why it was awarded.</li>
                        <li>Some awards now include the option to download a copy of the certificate.</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>School Admin section
                    <ul>
                        <li>Awards listings, leaderboard, and graphs have been moved to the School Admin section.</li>
                        <li>Astra awards are checked for the ability to download the certificate.</li>
                        <li>Awards with certificates issued in the last two days of detection now trigger an email to parents with the certificate attached.</li>
                        <li>Some awards now include details on which teacher issued the award, and why it was awarded.</li>
                        <li>Some awards now include the option to download a copy of the certificate.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.9 (Build 2304.29)</h3>

<div class="changelog">
    <ul>
        <li>Constellation Web
            <ul>
                <li>Partners Section
                    <ul>
                        <li>Add Absence Settings Audit report to student view to check whether absence scanning is enabled for students</li>
                        <li>Refactor student reports to use aggregate design pattern</li>
                    </ul>
                </li>
                <li>ShortTerm section
                    <ul>
                        <li>Refactor class covers to use aggregate design pattern</li>
                        <li>Redesign new class cover page to make selecting covered classes more intuitive</li>
                        <li>Refactor casuals to use aggregate design pattern</li>
                    </ul>
                </li>
                <li>Subjects Section
                    <ul>
                        <li>Update assignments to use aggregate design pattern</li>
                        <li>Refactor uploading of assignment submissions to Canvas into outbox processor</li>
                        <li>Add options for staff to upload and download student submissions from the assignment details view</li>
                    </ul>
                </li>
                <li>School Admin section
                    <ul>
                        <li>Update Completions list to only include current staff members for editors</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Schools Portal
            <ul>
                <li>Absences section
                    <ul>Registered non-residential parents are able to view but not modify absences</ul>
                </li>
                <li>Contacts section
                    <ul>
                        <li>Add notification email to school administration when new contact is registered</li>
                        <li>Update welcome email sent to new registrations to include link to the Partner School Resources page on the school website</li>
                    </ul>
                </li>
                <li>Exam Uploads section
                    <ul>
                        <li>Refactor submission to Canvas to outbox processor to ensure that file is sent through even if the gateway is unavailable</li>
                    </ul>
                </li>
                <li>Reports section
                    <ul>
                        <li>New reports are automatically emailed to registered non-residential parents</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Parents Portal
            <ul>
                <li>Access
                    <ul>
                        <li>Verify current user has authorisation to access student data before displaying</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Update the Sentral Family Sync Job to send report of any detected changes to the school administration</li>
                        <li>Update the Sentral Report Sync Job to use new aggregate design model</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.8 (Build 2303.11)</h3>

<div class="changelog">
    <ul>
        <li>Constellation Web
            <ul>
                <li>Group Tutorials section
                    <ul>
                        <li>Create Group Tutorials section</li>
                        <li>View and create Group Tutorial classes</li>
                        <li>Add and remove students and teachers to Group Tutorials</li>
                        <li>Automatically provision access to Microsoft Teams resources as users are added and removed</li>
                        <li>Include ability to submit rolls for a tutorial session</li>
                        <li>Allow reports to be run per Group Tutorial</li>
                    </ul>
                </li>
                <li>Admin Dashboard section
                    <ul>
                        <li>Create user dashboard that allows Admin users to manage user accounts</li>
                        <li>View user claims and roles</li>
                        <li>View and edit Role membership</li>
                    </ul>
                </li>
                <li>Partners/School Contacts section
                    <ul>
                        <li>Add repair user account option for admin staff</li>
                    </ul>
                </li>
                <li>Partners/Staff section
                    <ul>
                        <li>Fix display issue with staff faculty memberships on details page</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Schools Portal
            <ul>
                <li>Access
                    <ul>
                        <li>Refactor application to allow use from non-DoE networks</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.7 (Build 2301.17)</h3>

<div class="changelog">
    <ul>
        <li>Constellation Web
            <ul>
                <li>School Admin section
                    <ul>
                        <li>Added new Mandatory Training section</li>
                        <li>Added ability to create training modules for staff to complete</li>
                        <li>Added ability to create completion records for modules and upload certificates</li>
                        <li>Added report by module on completion records</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.6 (Build 2210.24)</h3>

<div class="changelog">
    <ul>
        <li>Parent Portal
            <ul>
                <li>Attendance section
                    <ul>
                        <li>Added new Attendance section</li>
                        <li>Added ability to generate and download Attendance Reports for current year</li>
                        <li>Added ability to view all absence data</li>
                        <li>Added ability to provide explanations for whole absences</li>
                    </ul>
                </li>
                <li>Awards section
                    <ul>
                        <li>Added new Awards section</li>
                        <li>Added ability to view awards tally per student</li>
                        <li>Added ability to see summary of last 10 awards issued to student</li>
                        <li>Added ability to change which student data is displayed for</li>
                    </ul>
                </li>
                <li>Reports section
                    <ul>
                        <li>Added new Reports section</li>
                        <li>Added ability to list academic reports issued to a student</li>
                        <li>Added ability to download academic reports for current student</li>
                        <li>Added ability to change which student data is displayed for</li>
                    </ul>
                </li>
                <li>Timetable section
                    <ul>
                        <li>Added new Timetables section</li>
                        <li>Added ability to view timetable per day per student</li>
                        <li>Added ability to download full timetable per student</li>
                        <li>Added ability to change which student data is displayed for</li>
                    </ul>
                </li>
                <li>Contacts section
                    <ul>
                        <li>Added new Contacts section</li>
                        <li>Added static entries for Administration Office and Technology Support</li>
                        <li>Added dynamic entries for Support staff (e.g. LaST, Counsellor, Careers Advisor, Librarian)</li>
                        <li>Added dynamic entries for Classroom Teachers based on selected student</li>
                        <li>Added ability to change which student data is displayed for</li>
                    </ul>
                </li>
                <li>Login page
                    <ul>
                        <li>Added login for parent users</li>
                        <li>Added magic link login method</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.5 (Build 2209.6)</h3>

<div class="changelog">
    <ul>
        <li>Schools Portal
            <ul>
                <li>School Contacts section
                    <ul>
                        <li>Added new School Contacts section</li>
                        <li>Added ability to view who the ACCs and SPTs are for your school</li>
                        <li>Added the ability to add new ACCs and SPTs if required</li>
                        <li>Added the ability to request an existing ACC or SPT is removed</li>
                    </ul>
                </li>
                <li>Science Rolls section
                    <ul>
                        <li>Added the ability to edit submitted rolls for up to 14 days</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>Lessons Portal section
                    <ul>
                        <li>Moved Lessons Portal pages to top nav to make them easier to find</li>
                        <li>Redesigned Lessons Portal pages to act like regular Constellation Web pages</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Email Templates
                    <ul>
                        <li>Added new notification sent to School Contacts when they are created to welcome them to the school</li>
                        <li>Added new notification sent to students after they are marked present at a Science Prac lesson reminding them to submit their work on Stile</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.4 (Build 2208.15)</h3>

<div class="changelog">
    <ul>
        <li>Schools Portal
            <ul>
                <li>Awards section
                    <ul>
                        <li>Added new Awards section</li>
                        <li>Added ability to view student awards tally</li>
                        <li>Added ability to view recent student awards</li>
                    </ul>
                </li>
                <li>Stocktake section
                    <ul>
                        <li>Added new Stocktake section</li>
                        <li>Added ability to review stocktake event settings</li>
                        <li>Added ability to submit stocktake device sightings</li>
                        <li>Added ability to cancel stocktake sightings with incorrect details</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>Partners/Students section
                    <ul>
                        <li>Fixed bug that was causing the student details view to take multiple minutes to load</li>
                    </ul>
                </li>
                <li>Partners/School Contacts section
                    <ul>
                        <li>Added option to add contact to role from the contacts list</li>
                        <li>Added option to add contact to role from new contact screen</li>
                    </ul>
                </li>
                <li>Subject/Assignments section
                    <ul>
                        <li>Added details view for assignment definitions</li>
                        <li>Added ability for teachers to re-push submissions to Canvas</li>
                    </ul>
                </li>
                <li>Equipment section
                    <ul>
                        <li>Added new Stocktake section</li>
                        <li>Added ability for Equipment Editors to create Stocktake events</li>
                        <li>Added ability to review stocktake sightings submitted for a stocktake event</li>
                        <li>Added Staff Dashboard to allow staff to review their own submitted stocktake data</li>
                        <li>Added ability for staff to submit stocktake device sightings</li>
                    </ul>
                </li>
                <li>Reports section
                    <ul>
                        <li>Update Awards report to use local awards details rather than relying on uploaded extract from Sentral</li>
                        <li>Create new Awards views including graph dashboard</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Create new SentralAwardSyncJob to sync details of student awards from Sentral to Constellation</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.3 (Build 2206.17)</h3>

<div class="changelog">
    <ul>
        <li>Schools Portal
            <ul>
                <li>Timetables section
                    <ul>
                        <li>Add ability to view student timetables</li>
                        <li>Add ability to download student timetables</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>ShortTerm/Covers section
                    <ul>
                        <li>Change singe-day cover notification emails to be calendar invites</li>
                        <li>Include a PDF timetable on multi-day cover notification emails</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Change source for the SentralFamilyDetailsSyncJob to take advantage of 3PI data and to be more reliable</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.2 (Build 2205.30)</h3>

<div class="changelog">
    <ul>
        <li>Constellation Web
            <ul>
                <li>Log In
                    <ul>
                        <li>Added validation rules to highlight incorrect email addresses as they are entered</li>
                    </ul>
                </li>
                <li>Partners/Students section
                    <ul>
                        <li>Send notification to School Administration if a parent email address is detected missing</li>
                        <li>Absence explanations found in Sentral are now created as Responses instead of using custom top-level attributes</li>
                        <li>Missed classwork notifications are now removed when the student is marked as withdrawn</li>
                        <li>Lesson rolls are updated when a student has transferred between partner schools</li>
                    </ul>
                </li>
                <li>Partners/SchoolContacts section
                    <ul>
                        <li>Duplicate entries are removed when performing a custom search</li>
                    </ul>
                </li>
                <li>Portals/Lessons section
                    <ul>
                        <li>Admin lesson search now correctly displays the grade in the course name field</li>
                    </ul>
                </li>
                <li>Reports section
                    <ul>
                        <li>FTE Calculation report now includes breakdown by gender per grade</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Limit jobs to one concurrent instance at a time to prevent a job being started mulitple times</li>
                        <li>Add log information for all lifecycle events for jobs</li>
                        <li>Add graceful cancellation paths for all jobs</li>
                        <li>Confirm photos are different from current copy before downloading in SentralPhotoSyncJob</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.1 (Build 2205.2)</h3>

<div class="changelog">
    <ul>
        <li>Schools Portal
            <ul>
                <li>Home section
                    <ul>
                        <li>Log in using DoE credentials (e.g email address and portal password)</li>
                        <li>View all currently active students registered from the school</li>
                        <li>If linked to multiple schools, change the currently selected school</li>
                    </ul>
                </li>
                <li>Absence section
                    <ul>
                        <li>View pending partial absences awaiting explanation from students</li>
                        <li>View and action pending partial absences awaiting verification from ACC</li>
                        <li>View and action pending whole absences awaiting explanation from parents or ACC</li>
                        <li>Generate and download Attendance Reports per student for a specific cycle</li>
                    </ul>
                </li>
                <li>Science Rolls section
                    <ul>
                        <li>View and submit attendance rolls for Partner School lead Science Practical Lessons</li>
                    </ul>
                </li>
                <li>Reports section
                    <ul>
                        <li>List and download reports published by Aurora College for students</li>
                    </ul>
                </li>
                <li>Exam Uploads section
                    <ul>
                        <li>Upload paper based exams undertaken by students for marking</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>Partners/Students section
                    <ul>
                        <li>Student family details, including parent mobile and email contacts, now synced from Sentral</li>
                    </ul>
                </li>
                <li>Partners/Staff section
                    <ul>
                        <li>Fixed bug where staff faculty membership would not be saved</li>
                    </ul>
                </li>
                <li>Partners/Schools section
                    <ul>
                        <li>Created mapping pages for standard categories (All, Stage 3, Stage 4 & 5, Stage 6, Staff)</li>
                    </ul>
                </li>
                <li>Subjects/Assignments section
                    <ul>
                        <li>Sync assignment details from Canvas, allowing ACCs to upload paper based exams</li>
                    </ul>
                </li>
                <li>ShortTerm/Covers section
                    <ul>
                        <li>Fix bugs that prevented covers from being edited or cancelled</li>
                    </ul>
                </li>
                <li>Log In
                    <ul>
                        <li>Redirect Partner Schools to School Portal when they attempt to log in to the Staff area</li>
                    </ul>
                </li>
                <li>Error page
                    <ul>
                        <li>Redesign page to include error details where possible</li>
                    </ul>
                </li>
                <li>Changelog
                    <ul>
                        <li>Added this Changelog page</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Persistence (Database)
                    <ul>
                        <li>Included ability to store documents (pdf, jpg) in database</li>
                    </ul>
                </li>
                <li>Gateways
                    <ul>
                        <li>Canvas gateway is now able to retrive details of assignments, and submit assignments on behalf of students</li>
                        <li>Sentral gateway is now able to retrieve supplementary student data such as photo, reports, family contact details</li>
                    </ul>
                </li>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Created job to sync Student Photos from Sentral</li>
                        <li>Created job to sync Student Reports from Sentral</li>
                        <li>Created job to sync contact (Student, Staff, School) details to TrackIt</li>
                        <li>Bug fixes to the Absence Monitor job</li>
                    </ul>
                </li>
                <li>APIs
                    <ul>
                        <li>Migrated endpoints from ACOS to allow for school bandwidth graphs to be downloaded each day</li>
                    </ul>
                </li>
                <li>Email Templates
                    <ul>
                        <li>Converted templates to use embedded BASE64 image for school logo instead of linking to the website</li>
                        <li>All email templates now automatically remove duplicate email addresses before sending</li>
                        <li>Updated cover email templates to remove mention of Adobe Connect and provide link to individual class Teams</li>
                    </ul>
                </li>
                <li>Operations
                    <ul>
                        <li>MS Team operations now use Group ID directly to prevent delay in processing due to searching for Team</li>
                    </ul>
                </li>
                <li>Admin Integrations
                    <ul>
                        <li>Adobe Connect Admin tasks migrated from ACOS</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>