@page
@using System.Reflection

@model Constellation.Presentation.Server.Pages.ChangeLogModel

@{
    var file = Assembly.GetExecutingAssembly().Location;
    var lastWriteTime = System.IO.File.GetLastWriteTime(file);
    var version = $"{lastWriteTime.ToString("yyMM.d")}";
}

<style>
   .changelog ul li {
       font-size: 1.3rem;
       font-weight: bolder;
   }

   .changelog ul li ul li {
       font-size: 1.15rem;
       font-weight: bold;
   }

   .changelog ul li ul li ul li {
       font-size: 1rem;
       font-weight: normal;
   }
</style>

<h1>Constellation Changelog</h1>

<h3>Current version: Release V1.7 (Build @version)</h3>

<div class="changelog">
    <ul>
        <li>Constellation Web
            <ul>
                <li>School Admin section
                    <ul>
                        <li>Added new Mandatory Training section</li>
                        <li>Added ability to create training modules for staff to complete</li>
                        <li>Added ability to create completion records for modules and upload certificates</li>
                        <li>Added report by module on completion records</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.6 (Build 22xx.x)</h3>

<div class="changelog">
    <ul>
        <li>Parent Portal
            <ul>
                <li>Attendance section
                    <ul>
                        <li>Added new Attendance section</li>
                        <li>Added ability to generate and download Attendance Reports for current year</li>
                        <li>Added ability to view all absence data</li>
                        <li>Added ability to provide explanations for whole absences</li>
                    </ul>
                </li>
                <li>Awards section
                    <ul>
                        <li>Added new Awards section</li>
                        <li>Added ability to view awards tally per student</li>
                        <li>Added ability to see summary of last 10 awards issued to student</li>
                        <li>Added ability to change which student data is displayed for</li>
                    </ul>
                </li>
                <li>Reports section
                    <ul>
                        <li>Added new Reports section</li>
                        <li>Added ability to list academic reports issued to a student</li>
                        <li>Added ability to download academic reports for current student</li>
                        <li>Added ability to change which student data is displayed for</li>
                    </ul>
                </li>
                <li>Timetable section
                    <ul>
                        <li>Added new Timetables section</li>
                        <li>Added ability to view timetable per day per student</li>
                        <li>Added ability to download full timetable per student</li>
                        <li>Added ability to change which student data is displayed for</li>
                    </ul>
                </li>
                <li>Contacts section
                    <ul>
                        <li>Added new Contacts section</li>
                        <li>Added static entries for Administration Office and Technology Support</li>
                        <li>Added dynamic entries for Support staff (e.g. LaST, Counsellor, Careers Advisor, Librarian)</li>
                        <li>Added dynamic entries for Classroom Teachers based on selected student</li>
                        <li>Added ability to change which student data is displayed for</li>
                    </ul>
                </li>
                <li>Login page
                    <ul>
                        <li>Added login for parent users</li>
                        <li>Added magic link login method</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.5 (Build 2209.6)</h3>

<div class="changelog">
    <ul>
        <li>Schools Portal
            <ul>
                <li>School Contacts section
                    <ul>
                        <li>Added new School Contacts section</li>
                        <li>Added ability to view who the ACCs and SPTs are for your school</li>
                        <li>Added the ability to add new ACCs and SPTs if required</li>
                        <li>Added the ability to request an existing ACC or SPT is removed</li>
                    </ul>
                </li>
                <li>Science Rolls section
                    <ul>
                        <li>Added the ability to edit submitted rolls for up to 14 days</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>Lessons Portal section
                    <ul>
                        <li>Moved Lessons Portal pages to top nav to make them easier to find</li>
                        <li>Redesigned Lessons Portal pages to act like regular Constellation Web pages</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Email Templates
                    <ul>
                        <li>Added new notification sent to School Contacts when they are created to welcome them to the school</li>
                        <li>Added new notification sent to students after they are marked present at a Science Prac lesson reminding them to submit their work on Stile</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.4 (Build 2208.15)</h3>

<div class="changelog">
    <ul>
        <li>Schools Portal
            <ul>
                <li>Awards section
                    <ul>
                        <li>Added new Awards section</li>
                        <li>Added ability to view student awards tally</li>
                        <li>Added ability to view recent student awards</li>
                    </ul>
                </li>
                <li>Stocktake section
                    <ul>
                        <li>Added new Stocktake section</li>
                        <li>Added ability to review stocktake event settings</li>
                        <li>Added ability to submit stocktake device sightings</li>
                        <li>Added ability to cancel stocktake sightings with incorrect details</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>Partners/Students section
                    <ul>
                        <li>Fixed bug that was causing the student details view to take multiple minutes to load</li>
                    </ul>
                </li>
                <li>Partners/School Contacts section
                    <ul>
                        <li>Added option to add contact to role from the contacts list</li>
                        <li>Added option to add contact to role from new contact screen</li>
                    </ul>
                </li>
                <li>Subject/Assignments section
                    <ul>
                        <li>Added details view for assignment definitions</li>
                        <li>Added ability for teachers to re-push submissions to Canvas</li>
                    </ul>
                </li>
                <li>Equipment section
                    <ul>
                        <li>Added new Stocktake section</li>
                        <li>Added ability for Equipment Editors to create Stocktake events</li>
                        <li>Added ability to review stocktake sightings submitted for a stocktake event</li>
                        <li>Added Staff Dashboard to allow staff to review their own submitted stocktake data</li>
                        <li>Added ability for staff to submit stocktake device sightings</li>
                    </ul>
                </li>
                <li>Reports section
                    <ul>
                        <li>Update Awards report to use local awards details rather than relying on uploaded extract from Sentral</li>
                        <li>Create new Awards views including graph dashboard</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Create new SentralAwardSyncJob to sync details of student awards from Sentral to Constellation</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.3 (Build 2206.17)</h3>

<div class="changelog">
    <ul>
        <li>Schools Portal
            <ul>
                <li>Timetables section
                    <ul>
                        <li>Add ability to view student timetables</li>
                        <li>Add ability to download student timetables</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>ShortTerm/Covers section
                    <ul>
                        <li>Change singe-day cover notification emails to be calendar invites</li>
                        <li>Include a PDF timetable on multi-day cover notification emails</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Change source for the SentralFamilyDetailsSyncJob to take advantage of 3PI data and to be more reliable</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.2 (Build 2205.30)</h3>

<div class="changelog">
    <ul>
        <li>Constellation Web
            <ul>
                <li>Log In
                    <ul>
                        <li>Added validation rules to highlight incorrect email addresses as they are entered</li>
                    </ul>
                </li>
                <li>Partners/Students section
                    <ul>
                        <li>Send notification to School Administration if a parent email address is detected missing</li>
                        <li>Absence explanations found in Sentral are now created as Responses instead of using custom top-level attributes</li>
                        <li>Missed classwork notifications are now removed when the student is marked as withdrawn</li>
                        <li>Lesson rolls are updated when a student has transferred between partner schools</li>
                    </ul>
                </li>
                <li>Partners/SchoolContacts section
                    <ul>
                        <li>Duplicate entries are removed when performing a custom search</li>
                    </ul>
                </li>
                <li>Portals/Lessons section
                    <ul>
                        <li>Admin lesson search now correctly displays the grade in the course name field</li>
                    </ul>
                </li>
                <li>Reports section
                    <ul>
                        <li>FTE Calculation report now includes breakdown by gender per grade</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Limit jobs to one concurrent instance at a time to prevent a job being started mulitple times</li>
                        <li>Add log information for all lifecycle events for jobs</li>
                        <li>Add graceful cancellation paths for all jobs</li>
                        <li>Confirm photos are different from current copy before downloading in SentralPhotoSyncJob</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h3>Previous version: Release V1.1 (Build 2205.2)</h3>

<div class="changelog">
    <ul>
        <li>Schools Portal
            <ul>
                <li>Home section
                    <ul>
                        <li>Log in using DoE credentials (e.g email address and portal password)</li>
                        <li>View all currently active students registered from the school</li>
                        <li>If linked to multiple schools, change the currently selected school</li>
                    </ul>
                </li>
                <li>Absence section
                    <ul>
                        <li>View pending partial absences awaiting explanation from students</li>
                        <li>View and action pending partial absences awaiting verification from ACC</li>
                        <li>View and action pending whole absences awaiting explanation from parents or ACC</li>
                        <li>Generate and download Attendance Reports per student for a specific cycle</li>
                    </ul>
                </li>
                <li>Science Rolls section
                    <ul>
                        <li>View and submit attendance rolls for Partner School lead Science Practical Lessons</li>
                    </ul>
                </li>
                <li>Reports section
                    <ul>
                        <li>List and download reports published by Aurora College for students</li>
                    </ul>
                </li>
                <li>Exam Uploads section
                    <ul>
                        <li>Upload paper based exams undertaken by students for marking</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Web
            <ul>
                <li>Partners/Students section
                    <ul>
                        <li>Student family details, including parent mobile and email contacts, now synced from Sentral</li>
                    </ul>
                </li>
                <li>Partners/Staff section
                    <ul>
                        <li>Fixed bug where staff faculty membership would not be saved</li>
                    </ul>
                </li>
                <li>Partners/Schools section
                    <ul>
                        <li>Created mapping pages for standard categories (All, Stage 3, Stage 4 & 5, Stage 6, Staff)</li>
                    </ul>
                </li>
                <li>Subjects/Assignments section
                    <ul>
                        <li>Sync assignment details from Canvas, allowing ACCs to upload paper based exams</li>
                    </ul>
                </li>
                <li>ShortTerm/Covers section
                    <ul>
                        <li>Fix bugs that prevented covers from being edited or cancelled</li>
                    </ul>
                </li>
                <li>Log In
                    <ul>
                        <li>Redirect Partner Schools to School Portal when they attempt to log in to the Staff area</li>
                    </ul>
                </li>
                <li>Error page
                    <ul>
                        <li>Redesign page to include error details where possible</li>
                    </ul>
                </li>
                <li>Changelog
                    <ul>
                        <li>Added this Changelog page</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Constellation Infrastructure
            <ul>
                <li>Persistence (Database)
                    <ul>
                        <li>Included ability to store documents (pdf, jpg) in database</li>
                    </ul>
                </li>
                <li>Gateways
                    <ul>
                        <li>Canvas gateway is now able to retrive details of assignments, and submit assignments on behalf of students</li>
                        <li>Sentral gateway is now able to retrieve supplementary student data such as photo, reports, family contact details</li>
                    </ul>
                </li>
                <li>Jobs (Recurring scheduled tasks)
                    <ul>
                        <li>Created job to sync Student Photos from Sentral</li>
                        <li>Created job to sync Student Reports from Sentral</li>
                        <li>Created job to sync contact (Student, Staff, School) details to TrackIt</li>
                        <li>Bug fixes to the Absence Monitor job</li>
                    </ul>
                </li>
                <li>APIs
                    <ul>
                        <li>Migrated endpoints from ACOS to allow for school bandwidth graphs to be downloaded each day</li>
                    </ul>
                </li>
                <li>Email Templates
                    <ul>
                        <li>Converted templates to use embedded BASE64 image for school logo instead of linking to the website</li>
                        <li>All email templates now automatically remove duplicate email addresses before sending</li>
                        <li>Updated cover email templates to remove mention of Adobe Connect and provide link to individual class Teams</li>
                    </ul>
                </li>
                <li>Operations
                    <ul>
                        <li>MS Team operations now use Group ID directly to prevent delay in processing due to searching for Team</li>
                    </ul>
                </li>
                <li>Admin Integrations
                    <ul>
                        <li>Adobe Connect Admin tasks migrated from ACOS</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>