@page
@model IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="~/logo.svg" />
    <title>Constellation</title>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body style="padding: 0; margin: 0;">
    <section>
        <div class="title-box">
            <div class="title-container">
                <div class="logo">
                    <img src="~/logo.svg" class="hero-logo" />
                </div>
                <div class="title">
                    <h1>Constellation</h1>
                </div>
            </div>
        </div>
        <div class="content-box">
            
            @if (Model.CanAccessStaffPortal)
            {
                <div class="option-box">
                    <div class="form-value">
                        <div class="header">
                            <h2>Staff Portal</h2>
                        </div>
                        <div class="text">
                            <p>Constellation Staff Portal provides Aurora College staff with access to information on</p>
                            <ul>
                                <li>Schools, Staff, and Students</li>
                                <li>Absences, Tutorials, and Lesson Rolls</li>
                                <li>Classes, Assignments, and Timetables</li>
                                <li>Casual Teachers and Class Covers</li>
                                <li>Assets and Equipment allocations</li>
                                <li>Custom reports</li>
                            </ul>
                            <p>Access is restricted to current Aurora College Staff only.</p>
                        </div>
                        <div class="cta-button">
                            <a asp-page="/Dashboard" asp-area="Staff" class="button">Go</a>
                        </div>
                    </div>
                </div>
            }
            
            @if (Model.CanAccessSchoolPortal)
            {
                <div class="option-box">
                    <div class="form-value">
                        <div class="header">
                            <h2>Schools Portal</h2>
                        </div>
                        <div class="text">
                            <p>Constellation Schools Portal provides Partner School staff access to information on</p>
                            <ul>
                                <li>Students, and School Contacts</li>
                                <li>Absences, Timetables, and Awards</li>
                                <li>Science Lesson Rolls</li>
                                <li>Academic Reports and Exam Uploads</li>
                                <li>Assets Stocktake</li>
                            </ul>
                            <p>Access is available for identified staff at Partner Schools only.</p>
                        </div>
                        <div class="cta-button">
                            <a asp-page="/Dashboard" asp-area="Schools" class="button">Go</a>
                        </div>
                    </div>
                </div>
            }
            
            @if (Model.CanAccessParentPortal)
            {
                <div class="option-box">
                    <div class="form-value">
                        <div class="header">
                            <h2>Parent Portal</h2>
                        </div>
                        <div class="text">
                            <p>Constellation Parents Portal provides access to information on</p>
                            <ul>
                                <li>Students, and Absences</li>
                                <li>School contact information</li>
                                <li>Timetables and Awards</li>
                                <li>Academic Reports</li>
                            </ul>
                            <p>Parents of current Aurora College students can log in with their registered email address.</p>
                        </div>
                        <div class="cta-button">
                            <a asp-page="/Index" asp-area="Parents" class="button">Go</a>
                        </div>
                    </div>
                </div>
            }
            
            @if (Model.CanAccessStudentPortal)
            {
                <div class="option-box">
                    <div class="form-value">
                        <div class="header">
                            <h2>Student Portal</h2>
                        </div>
                        <div class="text">
                            <p>Constellation Student Portal provides Aurora College students with access to information on</p>
                            <ul>
                                <li>Classes, and Timetables</li>
                                <li>Absences</li>
                                <li>Support contacts</li>
                            </ul>
                            <p>Access is restricted to current Aurora College Students only.</p>
                        </div>
                        <div class="cta-button">
                            <a asp-page="/Index" asp-area="Students" class="button">Go</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
</body>
</html>