@page
@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Constellation</title>
    <link rel="stylesheet" href="~/css/glyphicon.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body style="padding: 0; margin: 0;">
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="post">
                    <h2>Login</h2>
                    <div class="login-text">
                        <p>Sign in for Aurora College Partner School Staff only.</p>
                        <p>Use your DoE Email address and DoE Staff Password</p>
                    </div>
                    <div class="inputbox">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <input asp-for="Input.Email" placeholder=" " />
                        <label asp-for="Input.Email">Email</label>
                    </div>
                    <div class="inputbox">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        <input asp-for="Input.Password" placeholder=" " />
                        <label asp-for="Input.Password">Password</label>
                    </div>
                    <button type="submit">Log in</button>
                    <div class="login-text">
                        <p>
                            Are you a parent? Try the <a href="https://acos.aurora.nsw.edu.au/parents">Parents Portal</a> instead.
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="~/lib/server/jquery/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>