@model Constellation.Presentation.Schools.Areas.BasePageModel

@{
    var activePageAvailable = ViewData.TryGetValue("ActivePage", out var activePage);}
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aurora College Schools Portal</title>
    <link rel="icon" type="image/svg" href="~/logo.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/schools.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="~/">Schools Portal</a>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-1">
        <div class="page">
            <div class="sidebar">
                <vc:school-nav active-page="activePage" />
            </div>

            <main>
                <div class="top-row px-4 text-right">
                    <div class="col-md-8">
                        <vc:school-selector />
                    </div>
                    <div class="col">
                        @if (User is not null && User.Identity is not null && User.Identity.IsAuthenticated)
                        {
                            <span>Welcome!</span>
                            <a class="btn btn-sm btn-warning ml-4" @onclick="Logout">Log Out</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-success ml-4" @onclick="Login">Log In</a>
                        }
                    </div>
                </div>

                <article class="content px-4">
                    @RenderBody
                </article>
            </main>
        </div>
    </main>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script src="~/js/schools.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
