.select-button {
    margin: 2.5px;
}

.modal-dialog {
    max-width: 70vw !important;
}

.row.nested-row {
    min-height: 110px;
}

div.hidden {
    display: none;
}

td.consent {
    display: flex;
    flex-direction: row;
}

.badge {
    padding: 0.25em 0.6em;
    font-size: 100%;
}

div.granted, div.pending, div.denied {
    width: 35px;
    height: 35px;
    color: white;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

div.granted {
    background-color: green;
}

div.pending {
    background-color: gray;
}

div.denied {
    background-color: red;
}

.none {
    opacity: .5;
}