@page "/Help"

@attribute [Authorize]

<h1>Aurora College Schools Portal</h1>

<p>The Schools Portal allows staff in Aurora College Partner Schools to access information about our shared enrolments. Here you will be able to find attendance and absence information, academic reports, and more.</p>
<p>For a tour of the Portal, please watch the video below.</p>

<div style="position: relative; display: block; max-width: 960px;"><div style="padding-top: 56.25%;"><iframe src="https://players.brightcove.net/6129830800001/8gmHRZce8_default/index.html?videoId=6305690741112" allowfullscreen="" allow="encrypted-media" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div></div>

<p>If you have any issues, please report them to the Aurora College IT Support Team at <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a> or on <a href="tel:1300610733">1300 610 733</a>.</p>

<h2>Awards Details and Stocktake</h2>

<p>In version 1.4 we added the ability for Partner Schools to review student awards totals, and enter stocktake data. For a demonstration of these features, please watch the video below:</p>

<div style="position: relative; display: block; max-width: 960px;"><div style="padding-top: 56.25%;"><iframe src="https://players.brightcove.net/6129830800001/8gmHRZce8_default/index.html?videoId=6309264327112" allowfullscreen="" allow="encrypted-media" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe></div></div>

@code{
    
}