@page "/"
@namespace Constellation.Presentation.Portal.Schools.Pages

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Constellation School Portal</title>
    <base href="/Portal/School/" />
    <link rel="icon" href="images/appLogo.svg" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/boostrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="Constellation.Presentation.Portal.Schools.styles.css" />
    <link rel="stylesheet" href="_content/Blazored.Modal/blazored-modal.css" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="_content/Blazored.Modal/blazored.modal.js"></script>
</body>
</html>
