@page
@model Constellation.Presentation.Portal.Schools.Pages.ErrorModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <div class="error__container">
                <div class="error__">
                    <div class="error__text">
                        <h1 class="error__title">An error occured <b>:(</b></h1>
                        <h2 class="error__title">@Model.ProblemDetails?.Title</h2>
                    </div>
                </div>

                <div class="error__">
                    <div class="error__text">
                        <p>You can go back to our <a href="/Portal/School">home page</a>.</p>
                    </div>
                </div>

                <div class="gears">
                    <div class="gear one">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="gear two">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="gear three">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
    
                <div class="error__">
                    <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#errorDetailCollapse">Show Error Details</button>
                    <div class="error__text collapse" id="errorDetailCollapse" style="text-align: left">
                        <p>Error details: @Model.ProblemDetails?.Detail</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
