@page "/Attendance/"

@using Constellation.Application.Features.Attendance.Queries

@inject HttpClient Http

@attribute [Authorize]

<h2>Attendance Information</h2>

Attendance Policy Link

Attendance Report Downloads

Absence List Link
<a href="attendance/absences">Absences</a>

@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }


    protected override async Task OnParametersSetAsync()
    {
    }
}
