@page "/Attendance/"

@attribute [Authorize]

<h2>Attendance Information</h2>

<h3 class="mt-3">Attendance Policy</h3>
<span>Aurora College Attendance Policy can be viewed on the school website at <a href="https://aurora.schools.nsw.gov.au/about-our-school/our-policies/attendance-policy.html" target="_blank">https://aurora.nsw.edu.au/about-our-school/our-policies/attendance-policy.html</a></span>

<h3 class="mt-3">Attendance Reports</h3>
<span class="d-block">Aurora College produces an attendance report every fortnight to allow parents and partner schools to review the attendance pattern for each student.</span>
<a href="attendance/reports" class="btn btn-primary">Download Reports</a>

<h3 class="mt-3">Student Absences</h3>
<span class="d-block">A complete list of student absences, and any explanations that have been provided or verified.</span>
<a href="attendance/absences" class="btn btn-primary">View Absences</a>