@page "/Attendance/Reports/"

@using Constellation.Application.DTOs

@inject HttpClient Http

@attribute [Authorize]

<h2>Attendance Reports</h2>

@foreach (var date in ValidDates)
{
    <div class="mt-3" @onclick="() => DownloadReport(date)">
        <h4>@date.Description</h4>
        <span>@date.StartDate.ToShortDateString() - @date.EndDate.ToShortDateString()</span>
    </div>
}

@code {
    public List<ValidAttendenceReportDate> ValidDates { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            ValidDates = await Http.GetFromJsonAsync<List<ValidAttendenceReportDate>>($"Attendance/Reports/Dates");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    async Task DownloadReport(ValidAttendenceReportDate reportDate)
    {
        try
        {
            var a = new AttendanceReportRequest { StudentId = "438990194", StartDate = reportDate.StartDate, EndDate = reportDate.EndDate };

            var response = await Http.PostAsJsonAsync($"Attendance/Reports/Download", a);
            // This returns the file in the response variable.
            // Need to push it to the browser as a file download, possibly using JS
            // https://docs.microsoft.com/en-us/aspnet/core/blazor/file-downloads?view=aspnetcore-6.0

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
