@using Constellation.Presentation.Staff.Areas.SchoolAdmin.Pages.Workflows
@{
    Layout = "/Pages/Shared/_StaffLayout.cshtml";

    string activePage = ViewData["ActivePage"].ToString();
}

<div class="row sidebar-layout">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
                <span class="w-100">WorkFlows</span>
            </h4>
            <ul class="nav flex-column mx-2">
                <li class="nav-item">
                    <a class="nav-link @(activePage == WorkFlowPages.Cases ? "active" : "")" asp-page="/Workflows/Index" asp-area="SchoolAdmin">
                        Cases
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == WorkFlowPages.Reports ? "active" : "")" asp-page="/Workflows/Reports/Index" asp-area="SchoolAdmin">
                        Reports
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-md-3">
        @RenderBody()
    </main>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // var container = $('#main-container');
            // container.removeClass('container');
            // container.addClass('container-fluid');
            
            // var div = $('#main-container div:first-child');
            // div.removeClass('pb-3');

            $('html, body').css({
                overflow: 'hidden',
                height: '100%'
            });
        });
    </script>

    @await RenderSectionAsync("scripts", required: false)
}