@model ConfirmCaseUpdateModalViewModel

<div class="modal-header">
    <h5 class="modal-title">Update Case Status</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col">
            @if (Model.Type == ConfirmCaseUpdateModalViewModel.UpdateType.Complete)
            {
                <span class="control-label">Are you sure you wish to mark this Case completed? Any outstanding Actions will prevent this update.</span>
            }
            
            @if (Model.Type == ConfirmCaseUpdateModalViewModel.UpdateType.Cancel)
            {
                <span class="control-label">Are you sure you wish to mark this Case cancelled? Any outstanding Actions will also be cancelled.</span>
            }
        </div>
    </div>
</div>
<div class="modal-footer">
    @if (Model.Type == ConfirmCaseUpdateModalViewModel.UpdateType.Complete)
    {
        <a asp-page-handler="CompleteCase" asp-route-id="@Model.CaseId" class="btn btn-danger">Mark Completed</a>
    }
    
    @if (Model.Type == ConfirmCaseUpdateModalViewModel.UpdateType.Cancel)
    {
        <a asp-page-handler="CancelCase" asp-route-id="@Model.CaseId" class="btn btn-danger">Mark Cancelled</a>
    }
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
</div>