@model Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.Components.SelectSchoolForLessonFilter.SelectSchoolForLessonFilterSelection

<div class="modal fade" tabindex="-1" id="selectSchool">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="get">
                <div class="modal-header">
                    <h5 class="modal-title">Science Prac Search</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col">
                            <span class="control-label">School</span>
                            <select asp-for="SchoolCode" asp-items="@(new SelectList(Model.SchoolList, "Key", "Value"))" class="combo" style="width:100%">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Search" class="btn btn-primary btn-block btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>