@model Constellation.Presentation.Parents.Areas.Parents.Models.BasePageModel

@{
    var activePageAvailable = ViewData.TryGetValue("ActivePage", out var activePage);
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Aurora College Parents Portal</title>

        <link rel="icon" type="image/svg" href="~/logo.svg" />
        <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/private/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="~/css/parents.css" />
        <link rel="stylesheet" href="~/Constellation.Presentation.Server.styles.css" />

        <script src="~/lib/jquery/jquery.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="spinner-overlay">
                <div class="d-flex justify-content-center h-100">  
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-info spinner-0" role="status"></div>
                    <div class="spinner-grow text-primary spinner-1" role="status"></div>
                    <div class="spinner-grow text-info spinner-2" role="status"></div>
                    <div class="spinner-grow text-primary spinner-3" role="status"></div>
                    <div class="spinner-grow text-info spinner-4" role="status"></div>
                    <div class="spinner-grow text-primary spinner-5" role="status"></div>
                    <div class="spinner-grow text-info spinner-6" role="status"></div>
                    <div class="spinner-grow text-primary spinner-7" role="status"></div>
                    <div class="spinner-grow text-info spinner-8" role="status"></div>
                </div>
            </div>

            <div class="page">
                <div class="sidebar">
                    <vc:parent-nav active-page="@activePage?.ToString()" />
                </div>

                <main>
                    <div class="navbar sticky-top top-row">
                        <div class="col-md-8">
                        </div>
                        <div class="col">
                            @if (User?.Identity is not null && User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-sm btn-warning ml-4" asp-area="" asp-page="/Auth/Logout">Log Out</a>
                            }
                            else
                            {
                                <a class="btn btn-sm btn-success" asp-area="" asp-page="/Auth/Login">Log In</a>
                            }
                        </div>
                    </div>

                    <article class="content px-4">
                        @RenderBody()
                    </article>
                </main>
            </div>
        </div>
        
        @if (Model.ModalContent is not null)
        {
            <vc:modal-content-display content="@Model.ModalContent" />

            <script>
                $(document).ready(function () {
                    $('#ux-modal').modal('show');
                });
            </script>
        }
        
        <div class="modal fade" tabindex="-1" id="page-modal">
            <div class="modal-dialog" style="max-width: 600px;">
                <div id="modal-content" class="modal-content">
                </div>
            </div>
        </div>

        <script src="~/lib/bootstrap5/js/bootstrap.min.js"></script>
        <script src="~/js/parents.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
        
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $('.spinner-overlay').addClass('d-none');
                }, 1000);
            });
        </script>
    </body>
</html>