@using Constellation.Application.Models.Auth

<nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-dark bg-dark box-shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" asp-area="Staff" asp-page="/Dashboard"><img src="~/logo.svg" class="nav-bar-logo d-inline-block align-middle" />Constellation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Partners <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Contacts/Index">Contacts</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Schools/Index">Schools</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Schools/Contacts/Index">School Contacts</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Staff/Index">Staff</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Staff/Faculties/Index">Faculties</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Students/Index">Students</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Partner/Students/Families/Index">Families</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Subjects <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/Courses/Index">Courses</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/Offerings/Index">Classes</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/Assignments/Index">Assignments</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/Periods/Index">Periods</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/SciencePracs/Lessons/Index">Science Pracs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Subject/GroupTutorials/Tutorials/Index">Tutorials</a>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Class Covers <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Staff" asp-page="/ShortTerm/Casuals/Index">Casuals</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/ShortTerm/Covers/Index">Covers</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">School Admin <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/Absences/List">Absences</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/Awards/Index">Awards</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/Compliance/Attendance/Index">Compliance</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/Training/Completion/Index">Mandatory Training</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/Consent/Applications/Index">Third Party Consent</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/SchoolAdmin/WorkFlows/Index">WorkFlows</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Equipment <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Equipment/Assets/Index">Assets</a>
                        <a class="dropdown-item" asp-area="Staff" asp-page="/Equipment/Stocktake/Index">Stocktake</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right">
                @{
                    var loggedIn = User.Identity.IsAuthenticated;
                    var isAdmin = User.IsInRole(AuthRoles.Admin);
                }
                <vc:class-list-nav-bar></vc:class-list-nav-bar>

                <li class="nav-item dropdown">
                    <a href="#" id="nav-user-dropdown" class="nav-link glyphicon-dropdown" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-user glyphicon-dropdown @(loggedIn ? "glyph-color-orange" : "")"></i></a>
                    <div class="dropdown-menu">
                        @if (loggedIn)
                        {
                            <a class="dropdown-item" asp-area="Admin" asp-page="/Logout">Log Out</a>
                        }
                        else
                        {
                            <a class="dropdown-item" asp-area="Admin" asp-page="/Login">Log In</a>
                        }

                        @if (isAdmin)
                        {
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Admin" asp-page="/Auth/Index">Auth Dashboard</a>
                            <a class="dropdown-item" asp-area="Admin" asp-page="/Rollover/Index">Annual Rollover</a>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>